/*************************************/
/*   
/*	Main Sass Config File
/*
/*************************************

* In here, we set up the sass project, 
* define variables, mixins, and everything else.
*
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*$heading-font:			"minion-pro", Georgia, Times, serif;*/
/*************************************/
/*   
/*	Import Modules and Mixins
/*
/*************************************/
.left {
  float: left; }

.right {
  float: right; }

.wrap {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0; }
  @media only screen and (max-width: 420px) {
    .wrap {
      width: 100%; } }

.clr {
  *zoom: 1; }
  .clr:after {
    content: "";
    display: table;
    clear: both; }

strong, b {
  font-weight: bold; }

em, i {
  font-style: italic; }

/*************************************/
/*   
/*	Import different site components
/*
/*************************************/
/*@import "partials/sprites";*/
.header {
  width: 100%;
  min-width: 960px;
  position: relative;
  padding: 0;
  background: #edece8;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  height: 70px;
  /* Main Menu */ }
  .header:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 420px) {
    .header {
      height: 40px;
      width: 100%;
      min-width: 100%; } }
  @media print {
    .header {
      display: none; } }
  @media print {
    .header {
      background: #fff; } }
  .header.short {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000; }
  .header h1, .header .logo {
    display: block;
    width: 395px;
    height: 50px;
    line-height: 70px;
    position: absolute;
    top: 13px;
    left: 90px; }
    @media only screen and (max-width: 420px) {
      .header h1, .header .logo {
        margin: 8px 0 7px 5px;
        width: 197.5px;
        height: 25px;
        left: 70px;
        top: 0px; } }
    .header h1 a, .header .logo a {
      text-indent: -119988px;
      overflow: hidden;
      text-align: left;
      text-transform: capitalize;
      display: block;
      width: 100%;
      height: 100%;
      background: url("../assets/logo-wide.png") no-repeat;
      background-size: 395px 50px; }
      @media only screen and (max-width: 420px) {
        .header h1 a, .header .logo a {
          background-size: 197.5px 25px; } }
  .header h2 {
    float: right;
    font-size: 20px;
    font-style: italic; }
    @media only screen and (max-width: 420px) {
      .header h2 {
        display: none; } }
  .header .toggle {
    position: absolute;
    top: 0px;
    left: 0;
    font-family: "myriad-pro-condensed", Impact, sans-serif;
    font-weight: bold;
    line-height: 40px;
    line-height: 70px;
    background: #a2120f;
    color: #fff;
    padding: 0 20px;
    text-transform: uppercase; }
    @media only screen and (max-width: 420px) {
      .header .toggle {
        line-height: 40px;
        display: block; } }
  .header #invokeSearchOverlay {
    bottom: -4px; }
  .header #invokeSearchOverlayMobile {
    display: none;
    cursor: pointer; }
    @media only screen and (max-width: 420px) {
      .header #invokeSearchOverlayMobile {
        display: block;
        position: absolute;
        right: 8px;
        top: 11px; } }
  .header ul {
    display: block;
    font-family: "myriad-pro-condensed", Impact, sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
    margin: 0 auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media only screen and (max-width: 420px) {
      .header ul {
        width: 100%;
        display: none;
        clear: both; } }
    .header ul li {
      position: relative;
      display: inline-block;
      text-align: center;
      padding: 0;
      line-height: 70px;
      letter-spacing: 1px;
      /* Horizontal Sub Menu */
      /* If main menu is hovered, show sub menu, but not sub menu options */ }
      @media only screen and (max-width: 420px) {
        .header ul li {
          width: 100%;
          display: block;
          line-height: 40px; } }
      .header ul li a {
        display: block;
        padding: 0 20px;
        text-decoration: none;
        color: #333;
        position: relative; }
        .header ul li a:hover {
          cursor: pointer; }
      .header ul li.current-menu-parent a, .header ul li.current-menu-item a, .header ul li:hover a {
        color: #a2120f; }
      .header ul li.menu-item-has-children:hover a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        width: 0;
        height: 0;
        margin-left: -10px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #333; }
      .header ul li.current-menu-parent ul li a, .header ul li.current-menu-item ul li a, .header ul li:hover ul li a {
        color: #fff; }
        .header ul li.current-menu-parent ul li a:after, .header ul li.current-menu-item ul li a:after, .header ul li:hover ul li a:after {
          display: none; }
      .header ul li#nav-home.here a {
        background: none !important; }
      .header ul li ul {
        float: none;
        display: none;
        margin: 0;
        top: 100%;
        left: 0;
        padding-right: 0;
        position: absolute;
        z-index: 2000;
        background: #333;
        white-space: nowrap;
        width: auto;
        min-width: 100%;
        line-height: 40px;
        text-align: center; }
        .header ul li ul li {
          float: none;
          display: block;
          white-space: nowrap;
          text-align: left;
          position: relative;
          white-space: nowrap;
          line-height: 40px;
          /* Vertical Dropdown Menu */
          /* If sub menu is hovered, show options */ }
          .header ul li ul li a {
            padding: 0 20px;
            color: #fff;
            white-space: nowrap; }
            .header ul li ul li a:hover {
              background: #a2120f; }
            .header ul li ul li a:after {
              display: none !important; }
          .header ul li ul li ul {
            display: none;
            position: absolute;
            top: 0;
            left: 100%;
            width: auto;
            font-size: 13px;
            font-weight: 400;
            overflow: visible;
            margin: 0;
            padding: 0; }
            .header ul li ul li ul li {
              display: block;
              line-height: 30px;
              float: none;
              white-space: nowrap; }
              .header ul li ul li ul li a {
                white-space: nowrap;
                padding: 0 9px 0 18px; }
                .header ul li ul li ul li a:after {
                  display: none; }
              .header ul li ul li ul li a.subcat {
                padding-left: 3em;
                font-weight: 400; }
              .header ul li ul li ul li a.cat {
                font-weight: 700; }
          .header ul li ul li:hover ul {
            display: block; }
            .header ul li ul li:hover ul a:after {
              display: none; }
      .header ul li.current-menu-item ul ul, .header ul li.current-menu-parent ul ul {
        display: none; }
      .header ul li:hover ul {
        display: block; }
        .header ul li:hover ul ul {
          display: none; }
  .header.short {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: .95; }

.navigation {
  width: 100%;
  background: #484848; }
  @media print {
    .navigation {
      display: none; } }
  @media only screen and (max-width: 420px) {
    .navigation {
      display: none;
      width: 100%;
      position: static;
      background: #000;
      margin: 0; } }
  .navigation.short {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000; }

.spacer {
  width: 100%;
  height: 40px;
  background: #333; }
  .spacer.short {
    position: relative;
    top: 70px;
    left: 0;
    z-index: 800; }

.breadcrumb {
  width: 100%;
  background: #fff; }
  .breadcrumb.short {
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 500; }
  .breadcrumb p {
    color: #333;
    font-size: 11px;
    line-height: 20px;
    margin: 0 0 0 0;
    font-weight: 700; }
    .breadcrumb p a {
      color: #666; }
      .breadcrumb p a:hover {
        text-decoration: underline; }
    @media only screen and (max-width: 420px) {
      .breadcrumb p {
        font-size: 12px;
        text-align: center; } }

.search {
  clear: right;
  float: right;
  margin-top: 20px; }
  @media print {
    .search {
      display: none; } }
  .search input {
    margin: 0;
    padding: 0;
    border: 0;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    padding: 0 10px;
    line-height: 25px; }
  .search input[type='submit'] {
    background: #a2120f;
    color: #fff; }

#modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 80000;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; }

#dismissMenu {
  float: right;
  margin-right: 1em; }

.sidebar2 {
  display: none;
  position: absolute;
  z-index: 99000;
  background-color: #edece8;
  font-family: "myriad-pro-condensed", Impact, sans-serif;
  min-height: 6000px;
  padding-top: 1em;
  width: 360px;
  left: 0px;
  top: 0px; }
  @media only screen and (max-width: 420px) {
    .sidebar2 {
      width: 100%; } }

#sidebarAdditionalLinks {
  border-top: 1px solid black;
  text-transform: uppercase; }
  #sidebarAdditionalLinks li {
    margin-left: 0.75em;
    border-bottom: 1px solid #dddcd8;
    font-weight: 700;
    line-height: 2.0; }

#sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 99999;
  font-size: 100%; }
  #sidebar-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  #sidebar-menu li {
    padding-left: 24px;
    line-height: 2;
    overflow: hidden; }
  #sidebar-menu .handle {
    background: transparent url("../gfx/spacer.png");
    background-repeat: no-repeat;
    background-size: 24px 12px;
    display: inline-block;
    width: 24px;
    height: 12px; }
  #sidebar-menu .collapsed {
    background: transparent url("../gfx/plus-black.png");
    background-repeat: no-repeat;
    background-size: 24px 12px;
    cursor: pointer; }
  #sidebar-menu .expanded {
    background: transparent url("../gfx/minus-black.png");
    background-repeat: no-repeat;
    background-size: 24px 12px;
    cursor: pointer; }

.typeBrowserSection {
  clear: both;
  margin-bottom: 1em;
  line-height: 2.0;
  text-transform: uppercase;
  font-weight: 700;
  border-top: 1px solid black; }

.typeBrowserCat1 {
  margin-left: 2em;
  border-bottom: 1px solid #dddcd8; }

.typeBrowserCat2 {
  font-weight: 400;
  margin-left: 3em;
  border-bottom: 1px solid #dddcd8; }

.typeBrowserVerticalLeft {
  transform: translate(1.5em, 0.5em) rotate(90deg);
  position: absolute;
  transform-origin: left top 0;
  line-height: 1.0; }

#searchOverlay {
  padding: 1em;
  background-color: #edece8;
  width: 100%;
  max-width: 640px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-height: 2000px; }
  @media only screen and (max-width: 420px) {
    #searchOverlay {
      padding-left: 0.5em;
      padding-right: 0.5em; } }

#dismissSearchOverlay {
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em; }

.searchBar {
  text-align: left;
  margin-bottom: 1em;
  margin-top: 1em; }

#searchBox {
  width: 100%;
  font-size: 16px; }

#searchResults {
  padding: 1em;
  display: none; }
  #searchResults a {
    color: black; }
  #searchResults a:hover {
    text-decoration: none; }
  #searchResults .match {
    padding: 0.25em;
    border-top: 1px solid #dddcd8;
    clear: both; }
    #searchResults .match .icons {
      display: table-cell;
      width: 90px;
      float: right;
      text-align: right; }
    #searchResults .match .summary {
      font-size: 90%; }
    #searchResults .match strong {
      font-weight: bold;
      font-size: 16px; }
  #searchResults .match:hover {
    background-color: #dddcd8; }
  @media only screen and (max-width: 420px) {
    #searchResults {
      padding: 0; } }

.clusterbottle2 {
  display: block;
  float: right;
  white-space: nowrap;
  position: relative;
  width: 90px;
  height: 160px;
  text-align: center;
  background-color: white; }
  .clusterbottle2 img {
    height: 160px;
    width: auto;
    margin-right: 0; }

.footer {
  width: 100%;
  padding: 50px 0;
  background: #fafafa;
  border-top: 1px solid #e3e3e3; }
  @media print {
    .footer {
      display: none; } }
  .footer div {
    min-width: 100%;
    margin: 0 auto;
    text-align: center; }

/* This stylesheet mostly fixes missing box-shadows and some minor styling */
.ie8 .tab_header a.selected,
.ie8 .tab_header a.selected:hover {
  border: 1px solid #e3e3e3;
  border-bottom: 0px; }
.ie8 .contact_flyout {
  border: 1px solid #e3e3e3; }
.ie8 .line_item_table tr td .tax_list {
  border: 1px solid #e3e3e3; }
.ie8 .button.blue:before {
  display: none; }

/*************************************/
/*   
/*	Import unique pages styles
/*
/*************************************/
* {
  box-sizing: border-box; }

@page {
  size: A4;
  /* auto is the initial value */
  /* this affects the margin in the printer settings */
  margin: 0.25in 0 0.5in 0; }
body {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #484848;
  position: relative; }
  @media only screen and (max-width: 420px) {
    body {
      font-size: 80%; } }
  @media print {
    body {
      margin: 0; } }

a {
  color: #a2120f;
  text-decoration: none; }
  a:hover {
    color: #eb2f2c;
    text-decoration: underline; }
  a h2 {
    color: black; }

.button {
  display: inline-block;
  background: #a2120f;
  padding: 8px 16px;
  margin: 0;
  border: 0px;
  font-size: 18px;
  line-height: 1em;
  font-family: "myriad-pro-condensed", Impact, sans-serif;
  text-transform: uppercase;
  color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  text-decoration: none !important; }
  .button:hover {
    cursor: pointer;
    color: #fff;
    background: #d11713; }
  .button.fullprofile {
    margin: 20px 0 0 0; }
    @media print {
      .button.fullprofile {
        display: none; } }

.hero {
  width: 100%;
  height: 440px;
  background: #f2f2f2;
  background-size: cover;
  background-position: center center; }
  @media only screen and (max-width: 420px) {
    .hero {
      height: 200px; } }
  .hero h1 {
    position: absolute;
    bottom: 30px;
    left: 0;
    color: #fff; }

.content {
  background: #fff;
  position: relative;
  z-index: 1;
  /* Single Product Overview page*/
  /* this is actually the half-assed organization of the two columns on product detail page */ }
  @media only screen and (max-width: 420px) {
    .content {
      margin-left: 3px;
      margin-right: 3px; } }
  .content .wrap {
    padding: 20px 0;
    background: #ffffff; }
  .content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    line-height: 1em; }
  .content h1 {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin: 0 0 10px 0; }
    @media only screen and (max-width: 420px) {
      .content h1 {
        font-size: 24px;
        margin: 0 0 12px 0; } }
  .content h2 {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 24px 0; }
    @media only screen and (max-width: 420px) {
      .content h2 {
        font-size: 20px; } }
  .content h3 {
    font-family: "myriad-pro-condensed", Impact, sans-serif;
    font-size: 14px;
    line-height: 1.0;
    font-weight: 700;
    margin: 0 0 0 0;
    text-transform: uppercase;
    letter-spacing: 2px; }
    .content h3.category_title {
      font-size: 26px;
      line-height: 1em; }
    @media only screen and (max-width: 420px) {
      .content h3 {
        font-size: 12px; } }
  .content h4 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 0 0;
    color: #999; }
  .content ul, .content ol {
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 20px 0; }
  .content ul {
    list-style-type: disc;
    margin: 0 0 20px 20px; }
  .content p {
    font-weight: 300;
    margin: 0 0 20px 0; }
    .content p.note {
      font-size: 11px;
      font-style: italic;
      font-weight: bold; }
    .content p a {
      color: #a2120f;
      font-weight: 700; }
  .content img {
    /*
    @include respond-to(smalltablet) {
    	float: none;
    	width: 100% !important;
    	height: auto !important;
    	margin: 0;
    }
    @include respond-to(phone) {
    	float: none;
    	width: 100% !important;
    	height: auto !important;
    	margin: 0;
    }
    */ }
    .content img.left {
      width: 50%;
      margin: 0 20px 10px 0; }
  .content .catalogue {
    float: right; }
    @media only screen and (max-width: 420px) {
      .content .catalogue {
        font-size: 12px; } }
    @media print {
      .content .catalogue {
        display: none; } }
    .content .catalogue i {
      margin-right: 10px; }
  .content .product-overview {
    /* How the "card" displays on the product page */ }
    .content .product-overview .banner {
      position: relative;
      line-height: 0;
      min-height: 300px;
      margin: 0 0 20px 0;
      overflow: hidden; }
      @media only screen and (max-width: 420px) {
        .content .product-overview .banner {
          min-height: 0;
          position: relative; } }
      @media print {
        .content .product-overview .banner {
          min-height: 0;
          height: auto;
          margin: 0; } }
      @media only screen and (max-width: 420px) {
        .content .product-overview .banner img {
          display: none; } }
      @media print {
        .content .product-overview .banner img {
          display: none; } }
      .content .product-overview .banner .product-name {
        width: 100%;
        position: absolute;
        padding: 20px;
        left: 0px;
        bottom: 0px;
        color: #fff;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC41Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
        background-size: 100%;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
        background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); }
        @media print {
          .content .product-overview .banner .product-name {
            background: none;
            position: relative;
            color: black;
            text-shadow: none; } }
        @media only screen and (max-width: 420px) {
          .content .product-overview .banner .product-name {
            background: none;
            position: relative;
            color: black;
            text-shadow: none; }
            .content .product-overview .banner .product-name h3 {
              color: black;
              text-shadow: none; } }
        .content .product-overview .banner .product-name h1 {
          text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
          margin: 0;
          line-height: 1em; }
          @media print {
            .content .product-overview .banner .product-name h1 {
              background: none;
              position: relative;
              color: black;
              text-shadow: none; } }
          @media only screen and (max-width: 420px) {
            .content .product-overview .banner .product-name h1 {
              background: none;
              position: relative;
              color: black;
              text-shadow: none; } }
        .content .product-overview .banner .product-name h3 {
          text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
          line-height: 1em;
          position: relative;
          z-index: 20; }
          .content .product-overview .banner .product-name h3 a {
            color: #fff; }
          @media print {
            .content .product-overview .banner .product-name h3 {
              background: none;
              position: relative;
              color: black;
              text-shadow: none; }
              .content .product-overview .banner .product-name h3 a {
                color: black; } }
          @media only screen and (max-width: 420px) {
            .content .product-overview .banner .product-name h3 {
              background: none;
              position: relative;
              color: black;
              text-shadow: none; }
              .content .product-overview .banner .product-name h3 a {
                color: black; } }
    .content .product-overview .nobanner {
      min-height: 0;
      position: relative; }
      .content .product-overview .nobanner .product-name {
        background: none;
        position: relative;
        color: black;
        text-shadow: none; }
        .content .product-overview .nobanner .product-name h3 {
          color: black;
          text-shadow: none; }
    @media only screen and (max-width: 420px) {
      .content .product-overview .artwork {
        width: 100%;
        margin: 1em 0; } }
    .content .product-overview .artwork .columnA, .content .product-overview .artwork .columnB {
      width: 47%;
      float: left; }
    .content .product-overview .artwork .columnB {
      float: left;
      margin-left: 1em; }
    .content .product-overview .artwork figure {
      margin: 0 1em 1em 0;
      -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }
      @media print {
        .content .product-overview .artwork figure {
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          box-shadow: none; } }
    .content .product-overview .artwork img {
      width: 100%;
      height: auto;
      margin: 0 0 0 0; }
    .content .product-overview .products .type-product {
      padding: 0; }
  @media only screen and (max-width: 420px) {
    .content div.recipes {
      width: 100%;
      margin: 1em 0; } }
  .content div.recipes .columnA, .content div.recipes .columnB {
    width: 47%;
    float: left; }
  .content div.recipes .columnB {
    float: left;
    margin-left: 1em; }
  .content div.recipes .recipe {
    background: #f3f3f3;
    padding: 0.5em;
    margin: 0 0 1em 0;
    font-size: 11px;
    vertical-align: top; }
    .content div.recipes .recipe h4 a {
      color: black; }
    .content div.recipes .recipe h4 {
      font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.0;
      margin-bottom: 0.5em; }
    .content div.recipes .recipe p {
      font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
      font-size: 11px;
      margin: 0 0 10px 0; }
      .content div.recipes .recipe p:last-child {
        margin: 0; }
  .content .recipeFull {
    background-color: #edece8;
    padding: 1em;
    max-width: 480px;
    line-height: 1.0;
    margin-bottom: 2em;
    font-size: 100%; }
    .content .recipeFull p {
      margin-bottom: 1em; }
    .content .recipeFull .measure {
      margin-left: 1.5em; }
    @media only screen and (max-width: 420px) {
      .content .recipeFull h1 {
        font-size: 24px; } }
  .content .main {
    width: 732px;
    float: right;
    margin-left: 20px; }
    @media only screen and (max-width: 420px) {
      .content .main {
        float: none;
        width: 100%; } }
    @media print {
      .content .main {
        width: 100%; } }
    .content .main.fullwidth {
      width: 100%;
      float: none;
      margin: 0; }
    .content .main.halfwidth {
      width: 356px;
      float: left;
      margin: 0; }
      @media only screen and (max-width: 420px) {
        .content .main.halfwidth {
          width: 100%;
          padding: 2%; } }
    .content .main figure {
      width: 100%; }
      .content .main figure img {
        width: 100%;
        height: auto; }
    .content .main figure.right {
      width: 80%;
      float: none;
      margin-left: auto;
      margin-right: auto; }
  .content #map_canvas {
    width: 100%;
    height: 300px;
    margin: 0 0 20px 0;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    page-break-inside: avoid; }
  .content .sidebar {
    width: 168px;
    float: left;
    margin: 0 0 0 0; }
    @media only screen and (max-width: 420px) {
      .content .sidebar {
        float: none;
        width: 100%; } }
    .content .sidebar.halfwidth {
      width: 544px;
      float: right; }
      @media only screen and (max-width: 420px) {
        .content .sidebar.halfwidth {
          width: 100%;
          padding: 2%; } }
    @media print {
      .content .sidebar.product-nav {
        display: none; } }

#productSummaryContainer {
  margin: 0.5em 0 0.5em 0; }
  #productSummaryContainer .product_description p {
    max-width: 360px; }

header.producerindex h1 {
  margin-bottom: 0; }
header.producerindex p.categorization {
  margin-top: 0;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-size: 90%; }
header.producerindex .images {
  width: 33%;
  float: right;
  text-align: center; }
  header.producerindex .images img {
    width: 100%; }
  header.producerindex .images figure.logo {
    width: 100%;
    margin: 1em auto 1em auto; }
    @media only screen and (max-width: 420px) {
      header.producerindex .images figure.logo {
        line-height: 1; } }
  @media only screen and (max-width: 420px) {
    header.producerindex .images {
      width: 50%;
      float: right; } }

.catblurb .images {
  width: 33%;
  float: right; }
  .catblurb .images img {
    width: 100%; }
.catblurb .blurb {
  width: 66%; }
  .catblurb .blurb figure img {
    width: 100%;
    height: auto; }
  .catblurb .blurb figure.left {
    width: 30%;
    float: left; }
  .catblurb .blurb figure.right {
    width: 30%;
    float: right; }
  @media only screen and (max-width: 420px) {
    .catblurb .blurb {
      width: 100%; } }
.catblurb .producerTrio {
  clear: both; }
  .catblurb .producerTrio figure {
    display: inline-block;
    width: 33%;
    height: 230px;
    overflow: hidden; }
    .catblurb .producerTrio figure img {
      margin: 0; }
    @media only screen and (max-width: 420px) {
      .catblurb .producerTrio figure {
        width: 49%;
        height: auto; } }
  .catblurb .producerTrio figure.placeImage {
    margin-right: 4px; }
    @media only screen and (max-width: 420px) {
      .catblurb .producerTrio figure.placeImage {
        margin-right: 0; } }
  @media only screen and (max-width: 420px) {
    .catblurb .producerTrio figure.processImage {
      float: right; } }
  .catblurb .producerTrio .producerDetailGmap {
    width: 33%;
    float: right;
    position: relative;
    height: 230px;
    overflow: hidden; }
    @media only screen and (max-width: 420px) {
      .catblurb .producerTrio .producerDetailGmap {
        width: 100%;
        float: none; } }
    .catblurb .producerTrio .producerDetailGmap .mapinset {
      position: absolute;
      top: 0px;
      right: 0px;
      border-left: 5px solid white;
      border-bottom: 5px solid white; }
  .catblurb .producerTrio .producerDetailGmap_canvas {
    height: 230px;
    margin: 0;
    box-shadow: none; }
    @media only screen and (max-width: 420px) {
      .catblurb .producerTrio .producerDetailGmap_canvas {
        width: 100%; } }
.catblurb figure {
  width: 100%;
  text-align: center;
  margin-bottom: 1em; }
  .catblurb figure img {
    width: 75%; }
    @media only screen and (max-width: 420px) {
      .catblurb figure img {
        width: 100%; } }
.catblurb figure.left {
  width: 33%;
  float: left; }
  .catblurb figure.left img {
    width: 100%; }
  @media only screen and (max-width: 420px) {
    .catblurb figure.left {
      width: 100%; } }
.catblurb figure.right {
  width: 33%;
  float: right; }
  .catblurb figure.right img {
    width: 100%; }
  @media only screen and (max-width: 420px) {
    .catblurb figure.right {
      width: 100%; } }

.features figure {
  position: relative;
  width: 100%;
  border: 4px solid white; }
.features figure img {
  width: 100%;
  height: auto; }
.features .secondfeatures figure {
  width: 50%;
  float: left; }
  @media only screen and (max-width: 420px) {
    .features .secondfeatures figure {
      float: none;
      width: 100%; } }
.features figure div.caption {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 20%;
  color: white;
  font-size: 240%;
  line-height: 1.0;
  padding: 0.5em;
  baseline: bottom;
  font-weight: bold; }
  @media only screen and (max-width: 420px) {
    .features figure div.caption {
      font-size: 80%; } }
.features .secondfeatures figure .caption {
  font-size: 125%;
  width: 100%; }
  @media only screen and (max-width: 420px) {
    .features .secondfeatures figure .caption {
      font-size: 80%; } }

.folded {
  display: none; }

.expandable {
  overflow: hidden;
  max-height: 7.25em;
  border-bottom: 2px solid black;
  position: relative;
  transition: max-height 1s; }

.morebutton {
  font-family: myriad-pro-condensed, Georgia, Times, serif;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  font-size: 80%;
  border: 2px solid black;
  background-color: white;
  text-align: center;
  position: relative;
  top: -2px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding: 0.25em 1em; }
  @media only screen and (max-width: 420px) {
    .morebutton {
      font-size: 12px; } }

.producerSetup h2 {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  font-weight: bold; }
  .producerSetup h2 a {
    color: black; }
  .producerSetup h2 a:hover {
    color: #eb2f2c; }
.producerSetup h3 {
  margin-top: 1em;
  margin-bottom: 0;
  padding: 0.5em;
  background-color: #edece8; }
  .producerSetup h3 a {
    color: black; }
  .producerSetup h3 a:hover {
    color: #eb2f2c; }
.producerSetup p {
  margin-bottom: 0.5em; }
.producerSetup .setup {
  margin-top: 0;
  margin-bottom: 0.5em; }
.producerSetup .setup2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "myriad-pro-condensed", Impact, sans-serif; }
  .producerSetup .setup2 div {
    display: inline-block;
    margin: 1px;
    background: #edece8;
    padding: 1px 0.5em;
    font-weight: bold; }
    .producerSetup .setup2 div .fieldname {
      text-transform: uppercase;
      display: block;
      color: #000000;
      font-weight: normal; }
  .producerSetup .setup2 div.sku {
    background-color: #dddcd8; }

.setupDownload {
  display: inline-block;
  background: #e3e3e3;
  padding: 4px 9px;
  margin: 0;
  border: 0px;
  font-size: 14px;
  line-height: 1em;
  font-family: "myriad-pro-condensed", Impact, sans-serif;
  text-transform: uppercase;
  color: #484848;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  text-decoration: none !important; }
  .setupDownload:hover {
    cursor: pointer;
    color: #fff;
    background: #d11713; }
  .setupDownload.fullprofile {
    margin: 20px 0 0 0; }
    @media print {
      .setupDownload.fullprofile {
        display: none; } }

#imageryReport .thumbnail img {
  height: 250px;
  float: right; }

#imageryReport h2 {
  margin-top: 1em; }

#imageryReport .thumbnail {
  margin-bottom: 1em;
  max-width: 800px; }

#imageryReport .thumbnail img.wide {
  height: auto;
  width: 250px; }

#recipefilters {
  background-color: #edece8;
  padding: 0.5em;
  width: 270px;
  float: left; }
  @media only screen and (max-width: 420px) {
    #recipefilters {
      width: 100%;
      overflow: hidden;
      max-height: 4.25em;
      border-bottom: 2px solid black;
      position: relative;
      transition: max-height 1s; } }
  #recipefilters h3 {
    margin-bottom: 0.2em; }
  #recipefilters fieldset {
    margin-bottom: 0.5em; }

#recipeFiltersMoreButton {
  display: none; }
  @media only screen and (max-width: 420px) {
    #recipeFiltersMoreButton {
      display: block;
      font-size: 75%;
      border: 2px solid black;
      background-color: white;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      padding: 0.25em 1em; } }

#recipeResultsBlock {
  margin-left: 290px; }
  @media only screen and (max-width: 420px) {
    #recipeResultsBlock {
      margin-left: 0; } }

#matchesAnnotation {
  font-weight: bold;
  margin-top: 1em; }

.recipeSummaries {
  max-width: 600px; }

.recipeSummaries td {
  vertical-align: bottom;
  border-bottom: 1em solid white; }

td.combo, td.protocol, td.vessel {
  text-align: center;
  min-width: 54px; }

td.combo {
  min-width: 108px; }

.mainalt {
  width: 100%; }

.inlineButton {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  color: #a2120f;
  padding-left: 6px;
  padding-right: 6px;
  border: 1px solid #a2120f;
  font-size: 80%; }
  @media print {
    .inlineButton {
      display: none; } }

a.inlineButton:hover {
  color: white;
  background-color: #a2120f;
  text-decoration: none; }

.revealfold {
  text-transform: uppercase;
  color: #a2120f; }

img.socialButton {
  vertical-align: bottom;
  height: 37px; }

.generalTable th {
  font-weight: bold; }
.generalTable th, .generalTable td {
  padding-right: 1em; }

ul.producerTiles {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1em; }
  ul.producerTiles li {
    vertical-align: top;
    margin: 0;
    width: 180px;
    display: inline-block;
    height: 300px; }
    @media only screen and (max-width: 420px) {
      ul.producerTiles li {
        font-size: 80%;
        width: 145px;
        height: 250px; } }
    ul.producerTiles li .logo {
      position: relative;
      width: 180px;
      height: 180px;
      padding: 0.5em;
      border: 2px solid #ddd;
      margin-bottom: 0.5em;
      vertical-align: middle; }
      ul.producerTiles li .logo img {
        width: 100%;
        height: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
      @media only screen and (max-width: 420px) {
        ul.producerTiles li .logo {
          width: 145px;
          height: 145px;
          line-height: 145px; } }

.country {
  clear: both;
  margin-bottom: 1em;
  min-height: 288px; }
  .country h2 {
    margin-bottom: 0.5em; }
  .country .logoCorral {
    margin-left: 376px; }
    @media only screen and (max-width: 420px) {
      .country .logoCorral {
        margin-left: 0; } }

.mapPresentation {
  position: relative;
  float: right;
  margin-left: 1em;
  margin-right: 0;
  background-color: #eee; }
  @media only screen and (max-width: 420px) {
    .mapPresentation {
      float: none;
      margin: 0 0 0.5em 0; } }

.originGmap, .countryDetailGmap {
  width: 360px;
  float: left;
  position: relative;
  height: 288px;
  overflow: hidden;
  margin-right: 1em; }
  @media only screen and (max-width: 420px) {
    .originGmap, .countryDetailGmap {
      width: 100%;
      float: none; } }

.originGmap_canvas, .countryDetailGmap_canvas {
  height: 288px;
  margin: 0;
  box-shadow: none;
  border-bottom: 2px solid #484848; }
  @media only screen and (max-width: 420px) {
    .originGmap_canvas, .countryDetailGmap_canvas {
      width: 100%; } }

.countryDetailGmap {
  float: none;
  margin: 0 0 1em 0; }

.originOutline ul {
  margin-bottom: 0 !important; }

.miniLogoTile {
  position: relative;
  width: 108px;
  height: 108px;
  display: inline-block;
  margin: 0 0.5em 0.5em 0;
  vertical-align: top;
  border: 2px solid #ddd;
  padding: 3px; }
  .miniLogoTile img {
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

.products {
  overflow: hidden;
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0; }
  @media only screen and (max-width: 420px) {
    .products {
      margin: 0 0 0 0; } }
  .products .type-product {
    padding: 0;
    list-style-type: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    page-break-inside: avoid;
    width: 100%;
    margin: 0 0 0 0;
    border-bottom: 1px solid #fff; }
    .products .type-product .label {
      float: left;
      position: relative;
      text-align: center;
      width: 230px;
      height: 230px;
      line-height: 230px;
      margin: 0 0.5em 0 0; }
      @media only screen and (max-width: 420px) {
        .products .type-product .label {
          display: none; } }
      .products .type-product .label img {
        height: 230px;
        width: auto;
        vertical-align: middle; }
      .products .type-product .label img.wideimage {
        width: 100%;
        height: auto;
        vertical-align: middle; }
      .products .type-product .label a {
        display: block; }
      .products .type-product .label .quickview {
        display: none; }
    .products .type-product div.tall {
      height: 320px; }
      .products .type-product div.tall img {
        height: 320px;
        width: auto; }
    .products .type-product .product_text {
      float: left;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 0;
      margin-right: 0.5em;
      width: 478px;
      width: 480px; }
      @media only screen and (max-width: 420px) {
        .products .type-product .product_text {
          width: 100%;
          padding: 0;
          margin: 0 0 20px 0; } }
      .products .type-product .product_text .product_description p:last-child {
        margin-bottom: 0; }
      .products .type-product .product_text h2 {
        font-weight: bold;
        margin: 0; }
      .products .type-product .product_text h3 {
        font-size: 11px;
        color: #999; }
      .products .type-product .product_text p {
        margin-top: 0.25em; }
    .products .type-product .bottle {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      float: right;
      text-align: center;
      width: 108px;
      height: 230px;
      line-height: 230px;
      padding: 0 0;
      overflow: hidden; }
      @media only screen and (max-width: 420px) {
        .products .type-product .bottle {
          min-width: 108px;
          width: 108px;
          float: right;
          height: auto; } }
      .products .type-product .bottle img {
        height: 230px;
        width: auto;
        vertical-align: middle; }
    .products .type-product .context {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      text-align: center;
      width: 230px;
      height: 230px;
      padding: 0 0;
      line-height: 230px;
      vertical-align: middle; }
      .products .type-product .context a {
        line-height: 0; }
      .products .type-product .context img {
        height: 230px;
        vertical-align: middle;
        width: auto; }
      .products .type-product .context img.wideimage {
        width: 100%;
        vertical-align: middle;
        height: auto; }
      @media only screen and (max-width: 420px) {
        .products .type-product .context {
          display: none;
          float: right; } }
    .products .type-product p {
      width: 100%;
      margin: 10px 0 0 0;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-align: left; }
      .products .type-product p span {
        margin-right: 15px; }
  .products .categorization {
    margin-top: 0.25em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 90%; }
    @media only screen and (max-width: 420px) {
      .products .categorization {
        font-size: 80%; } }
  .products .licenses {
    display: none; }
    @media only screen and (max-width: 420px) {
      .products .licenses {
        display: none; } }

.subcatMenu {
  text-align: center;
  margin: 1em; }
  .subcatMenu a {
    margin: 0.25em; }
  @media only screen and (max-width: 420px) {
    .subcatMenu .button {
      font-size: 13px;
      font-weight: bold; } }

@media only screen and (max-width: 420px) {
  .cluster {
    -moz-column-count: 1;
    column-count: 1; } }

.cluster2 {
  -moz-column-count: 2;
  column-count: 2; }
  @media only screen and (max-width: 420px) {
    .cluster2 {
      -moz-column-count: 1;
      column-count: 1; } }

.clusterentry {
  margin-top: 0.5em;
  display: block;
  overflow: hidden; }
  @media only screen and (max-width: 420px) {
    .clusterentry {
      margin-left: 0; } }

.clusterbottle {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  height: 70px;
  background-color: green; }
  .clusterbottle img {
    height: 230px;
    width: auto;
    position: absolute;
    -webkit-transform: translateZ(0);
    transform: translate(83px, -72px) rotate(90deg); }

.clusterbottle:after {
  content: "";
  float: left;
  margin-top: 100%; }

.clusterHeading {
  margin-bottom: 1em; }

.clusterHeadingHenriques {
  margin-bottom: 1em; }
  .clusterHeadingHenriques .product_text .product_description p {
    max-width: none !IMPORTANT; }
  .clusterHeadingHenriques .context {
    width: 452px !IMPORTANT;
    background-color: green; }

div.grouping {
  padding-bottom: 1em;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
  clear: both; }
  div.grouping .bottleCorral {
    width: 600px;
    float: right;
    text-align: right; }
    @media only screen and (max-width: 420px) {
      div.grouping .bottleCorral {
        display: none; } }
  div.grouping .bottleCorral2 {
    margin-top: 0.5em; }
    @media only screen and (max-width: 420px) {
      div.grouping .bottleCorral2 {
        display: none; } }
  div.grouping .corralBottle {
    height: 230px;
    display: inline-block;
    width: 72px;
    text-align: right; }
    div.grouping .corralBottle img {
      height: 230px;
      width: auto; }

#groupingVarietal {
  display: none; }

.madeiraSwitch {
  text-align: center;
  clear: both;
  margin-bottom: 1em;
  font-family: "myriad-pro-condensed", Impact, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  color: #484848; }
  .madeiraSwitch span, .madeiraSwitch span.selected {
    display: inline-block;
    padding: 8px 16px;
    margin: 0;
    font-size: 18px;
    line-height: 1em;
    font-family: "myriad-pro-condensed", Impact, sans-serif;
    text-transform: uppercase;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    color: #a2120f; }
    .madeiraSwitch span:hover, .madeiraSwitch span.selected:hover {
      cursor: pointer;
      color: #fff;
      background: #d11713; }
    @media only screen and (max-width: 420px) {
      .madeiraSwitch span, .madeiraSwitch span.selected {
        font-size: 16px;
        padding: 6px 14px; } }
  .madeiraSwitch span.selected {
    color: #484848;
    text-decoration: underline; }
    .madeiraSwitch span.selected:hover {
      cursor: inherit;
      color: inherit;
      background: inherit; }

#printlogotype {
  display: none;
  float: right;
  width: 15em; }
  @media print {
    #printlogotype {
      display: block; } }

.vitals p {
  width: 100%;
  margin: 10px 0 0 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left; }
  .vitals p span {
    margin-right: 15px; }
.vitals .description p {
  line-height: 1.4; }
.vitals td.categorization, .vitals th.categorization {
  margin-top: 0.25em;
  font-size: 90%; }
.vitals th.categorization {
  padding-right: 1em;
  vertical-align: top; }
.vitals .highlights {
  margin: 0;
  padding: 1em;
  background-color: #edece8;
  margin-bottom: 0.5em; }
  .vitals .highlights li {
    margin-left: 1em; }
.vitals .description {
  float: left;
  max-width: 477px; }

#productImageryCluster {
  width: 450px;
  float: right; }
  @media only screen and (max-width: 420px) {
    #productImageryCluster {
      width: 100%;
      float: none; } }
  #productImageryCluster td {
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    position: relative; }
  #productImageryCluster img {
    width: 100%;
    display: block; }
  #productImageryCluster img.wideimage {
    width: 100%;
    display: block; }
  #productImageryCluster #picBottle {
    border-right: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent; }
    #productImageryCluster #picBottle img {
      width: 60%;
      margin: 0 auto; }
  #productImageryCluster #picLabel, #productImageryCluster #picContext {
    width: 50%; }
  #productImageryCluster #picPeople, #productImageryCluster #picPlace {
    width: 50%; }
  #productImageryCluster #picLabel {
    border-bottom: 0.5em solid transparent; }
  #productImageryCluster #picContext {
    border-bottom: 0.5em solid transparent; }
  #productImageryCluster #picPeople {
    border-right: 0.5em solid transparent; }

#producerPics {
  width: 455px;
  float: right;
  margin-top: 1em;
  height: 162px; }
  #producerPics img {
    height: 100%;
    width: auto;
    vertical-align: middle; }
  #producerPics img.wideimage {
    width: 100%;
    height: auto;
    vertical-align: middle; }
  #producerPics .extrapic {
    width: 220px;
    display: inline-block; }

.setup {
  clear: both;
  overflow-x: auto;
  margin: 1em 0; }
  .setup table {
    width: auto;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    font-family: "myriad-pro-condensed", Impact, sans-serif; }
    .setup table th, .setup table td {
      border-right: 1em solid #fff;
      border-bottom: 1px solid #fff;
      white-space: nowrap; }
    .setup table th {
      background: white;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 13px;
      font-family: "myriad-pro-condensed", Impact, sans-serif; }
    .setup table td {
      font-size: 14px;
      font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; }
  @media only screen and (max-width: 420px) {
    .setup {
      overflow-x: auto; } }
  @media print {
    .setup {
      overflow-x: visible; } }

.artworkCorral {
  width: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em; }
  @media only screen and (max-width: 420px) {
    .artworkCorral .artwork2 {
      columns: 2; } }
  .artworkCorral .artwork2 figure {
    display: inline-block;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0;
    padding: 0; }
  .artworkCorral .artwork2 img {
    height: 200px;
    width: auto; }
    @media only screen and (max-width: 420px) {
      .artworkCorral .artwork2 img {
        width: 100%;
        height: auto; } }

.recipeCorral {
  width: 100%; }
  .recipeCorral table {
    margin: 1em 0;
    width: 100%; }
  .recipeCorral td {
    vertical-align: top;
    padding-bottom: 1em;
    width: 100%; }
  .recipeCorral .recipe {
    padding: 0;
    margin: 0 1em 1em 0;
    font-size: 11px;
    vertical-align: top;
    display: inline-block;
    width: 15%; }
    @media only screen and (max-width: 420px) {
      .recipeCorral .recipe {
        width: 45%; } }
    .recipeCorral .recipe h4 a {
      color: black; }
    .recipeCorral .recipe h4 {
      font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.0;
      margin-bottom: 0.5em; }
    .recipeCorral .recipe p {
      font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
      font-size: 11px;
      margin: 0 0 10px 0; }
      .recipeCorral .recipe p:last-child {
        margin: 0; }

.mainalt .extendedDescription, .mainalt .categoryDescription {
  -moz-column-count: 2;
  column-count: 2;
  margin: 1em 0; }
  @media only screen and (max-width: 420px) {
    .mainalt .extendedDescription, .mainalt .categoryDescription {
      -moz-column-count: 1;
      column-count: 1; } }
.mainalt .productDetailGmap {
  width: 473px;
  width: 235px;
  float: right;
  margin-left: 1em; }
  @media only screen and (max-width: 420px) {
    .mainalt .productDetailGmap {
      width: 100%;
      float: none;
      margin-left: 0; } }
.mainalt .productDetailGmap_canvas {
  width: 100%;
  height: 300px;
  margin: 0 0 20px 0;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  page-break-inside: avoid; }
.mainalt #gmapmaker {
  width: 600px;
  height: 480px;
  float: right;
  margin-left: 1em; }
  @media only screen and (max-width: 420px) {
    .mainalt #gmapmaker {
      width: 100%;
      float: none;
      margin-left: 0; } }
.mainalt .producerDescription {
  column-count: 1;
  margin: 1em 0; }
.mainalt h3 {
  clear: both; }

#infographic {
  margin-top: 1em;
  width: 100%; }
  #infographic .infographicSegment {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 14px;
    width: 155px;
    height: 90px;
    display: inline-table;
    border-right: 1px solid #dddcd8;
    border-left: 1px solid #dddcd8;
    background-color: #edece8; }
    @media only screen and (max-width: 420px) {
      #infographic .infographicSegment {
        display: table;
        width: 100%; } }
  #infographic .infographicRow {
    display: table-row; }
  #infographic .infographicSection {
    display: table-cell;
    padding: 0 0.5em;
    text-align: center;
    border-top: 1px solid #dddcd8;
    border-bottom: 1px solid #dddcd8;
    height: 70px;
    vertical-align: middle; }
  #infographic .infographicSection.icons {
    vertical-align: bottom;
    padding-right: 0;
    padding-bottom: 10px; }
  #infographic .sidewaysContainer {
    display: inline-block;
    width: 13px;
    background-color: yellow;
    position: relative; }
  #infographic .sideways {
    transform: translate(1em, 0em) rotate(270deg);
    position: absolute;
    bottom: 0;
    transform-origin: left bottom 0;
    line-height: 1.0;
    font-family: "myriad-pro-condensed", Impact, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    display: none; }

/*************************************/
/*   
/*	Import plugins
/*
/*************************************/
