@sizes: {
  mobile: 420px;
  desktop: 978px;
}

@black:				#000000;
@light_grey: 		#bbbbbb;
@grey: 				#666666;
@dark_grey: 		#484848;
@yellow:			#ffcf06;

@red:				#a2120f;

@body_background:	#fff;
@text_color:		@dark_grey;
@link_color:		@red;
@link_hover:		lighten(@link_color, 20%);

@off-grey:	#edece8;
@off-grey-dark:	#dddcd8;


@line_height:		20px;
@gutter:			18px;
@site_width:		978px;

@cols: 				5;

@gutters:			( (@cols + 1) * @gutter );

@col:				( (@site_width - @gutters) / @cols );

@twocol:			( (@col * 2) + @gutter );
@threecol:			( (@col * 3) + (@gutter * 2) );
@fourcol:			( (@col * 4) + (@gutter * 3) );
@fivecol:			( (@col * 5) + (@gutter * 4) );

@font-face {
    font-family: 'charterbold';
    src: url('/assets/charter_bold-webfont.eot');
    src: url('/assets/charter_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/charter_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// @@ 2021
//@heading-font:			'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
//@subheading-font:		"myriad-pro-condensed", Impact, sans-serif;
// @body-font:        'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
@body-font:         proxima-nova, sans-serif;
@heading-font:      proxima-nova, sans-serif;
@subheading-font:   proxima-nova, sans-serif;

// @@ 2021
@nav-font:              proxima-nova-condensed, sans-serif;
@dense-content-font:              proxima-nova-condensed, sans-serif;
@nav-font-alt:          charterbold, serif;
@nav-font-alt2:          proxima-nova, sans-serif;
@heading-font-alt:      charterbold, serif;
@subheading-font-alt:   charterbold, serif;
@article-body-font:   charterbold, serif;
