.footer {
	width: 100%;
	padding: 27px 0;
	background: #fafafa;
	border-top: 1px solid #e3e3e3;
	position: relative;

	font-size: 12px;
	
	@include respond-to(print) {
		display: none;
	}
	
	@include respond-to(phone) {
		padding: 1em 0 1em 3px;
	}

	// div, small {
	// 	// max-width: 960px;
	// 	margin: 0 auto;
	// }

	.subfooter {
		border-top: 1px solid $light_grey;
	}

	small {
		display: block;
		float: right;
		line-height: 37px;
		color: $light_grey;

		@include respond-to(phone) {
			float: none;
			line-height: inherit;
		}

	}

	#buildstamp {
		color: #fafafa;
		font-size: 80%;
		position: absolute;
		bottom: 0;
		right: 9px;
	}


	.footerMenu {
		margin-top: 1rem;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		ul {
			margin-right: 1rem;
			margin-bottom: 1rem;
			// min-width: 176px;

			@include respond-to(phone) {
				width: 40vw;
			}

		}

		ul.subul {
			margin-bottom: 0;
			margin-left: 1rem;
		}

	}


}