.footer {
	padding: 50px 0;
	background: #fafafa;
	border-top: 1px solid #e3e3e3;
	
	@include respond-to(print) {
		display: none;
	}
	
	ul {
		text-align: center;
		font-size: 10px;
		text-transform: uppercase;
		
		li {
			display: inline-block;
			margin: 0 10px;
			
			a {
				color: #999;
			}
			ul {
				display: none;
			}
		}
	}
}