.footer {
	width: 100%;
	padding: 50px 0;
	background: #fafafa;
	border-top: 1px solid #e3e3e3;
	
	@include respond-to(print) {
		display: none;
	}
	
	div {
		min-width: 100%;
		margin: 0 auto;
		text-align: center;
	}

}