/* This stylesheet mostly fixes missing box-shadows and some minor styling */

$light_grey: #e3e3e3;

.ie8 {
	.tab_header a.selected, 
	.tab_header a.selected:hover {
		border: 1px solid $light_grey;
		border-bottom: 0px;
	}
	.contact_flyout {
		border: 1px solid $light_grey;
	}
	.line_item_table tr td .tax_list {
		border: 1px solid $light_grey;
	}
	.button.blue:before {
		display: none;
	}
}

.ie8, .ie9 {

}