
.vitals {

	margin: 0 0.5em;

	p {
		width: 100%;
		margin: 10px 0 0 0;
		// line-height: 20px;
		@include box-sizing(border-box);
		text-align: left;
		
		span {
			margin-right: 15px;
			
			a {
				// color: $text_color;
			}
		}
	}
		

	.description p {
		// font-size: 100%;
		line-height: 1.4;

		@include respond-to(largetablet) {
			// font-size: 100%;
		}
		@include respond-to(smalltablet) {
			// font-size: 100%;
		}
		@include respond-to(phone) {
			// font-size: 80%;
		}

	}

	td.categorization, th.categorization {

		margin-top: 0.25em;

		// text-transform: uppercase;
		// font-weight: 700;		

		font-size: 90%;

	}

	th.categorization {
		padding-right: 1em;
		vertical-align: top;
		@include respond-to(phone) {
			// display: none;
		}
	}

	.highlights {
		margin: 0;
		padding: 1em;
		background-color: $off-grey;

		li {
			margin-left: 1em;
		}
		margin-bottom: 0.5em;
	}

	.description {
		float: left;
		max-width: 510px;

		@include respond-to(largetablet) {
			// max-width: 360px;
		}

		@include respond-to(phone) {
			// max-width: 75%;
		}

	}

	.duplex {
		float:right;
		margin-left: 1em;
		max-width: 225px;
		text-align: center;

		@include respond-to(phone) {
			float: none;
			width: 100%;
			clear:both;
			margin: 1em 0;
			padding-top: 1em;
			max-width: none;
		}
	}

	.label {
		// float: left;
		// max-width: 200px;
		// margin-right: 1em;
		height: 225px;

		img {
			height: 100%;
			width: auto;
		}
		img.wideimage {
			width: 100%;
			height: auto;
		}

		margin-bottom: 1em;

		@include respond-to(phone) {
			float: left;
			width: 46%;
			height: 160px;

		}
	}

	.bottle {
		float: right;
		width: 150px;
		margin-right: 1em;
		height: 450px;
		text-align: center;

		img {
			width: auto;
			height:100%;
		}
		img.wideimage {
			width: 100%;
			height: auto;
		}

		@include respond-to(phone) {

			width: 20%;
			max-width: 80px;
			height: auto;

			img {
				width: 100%;
				height:auto;
			}
			img.wideimage {
				width: 100%;
				height: auto;
			}
		}

	}

	.context {
		height: 225px;

		// float:left;
		img {
			height: 100%;
			width: auto;
		}
		img.wideimage {
			width: 100%;
			height: auto;
		}

		@include respond-to(phone) {
			float: left;
			width: 46%;
			margin-left: 1em;
			height: 160px;
		}

	}

}


.setup {
	clear: both;
	overflow-x: auto;
	margin: 1em 0;
	


	table {
		width: auto;
		border-top: 1px solid $body_background;
		border-left: 1px solid $body_background;
		font-family: $subheading-font;
	
		th,td {
			border-right: 0.5em solid $body_background;
			border-bottom: 1px solid $body_background;
			padding: 3px;
			white-space: nowrap;
		}
		th {
			background: lighten($body_background, 5%);
			font-weight: 700;
			text-transform: uppercase;
			font-size: 13px;
		}
		td {
			font-size: 17px;
		}
	}

	@include respond-to(smalltablet) {
		overflow-x: auto;
	}
	@include respond-to(phone) {
		overflow-x: auto;
	}

	@include respond-to(print) {
		overflow-x: visible;
	}
}

#gmap {
	@include respond-to(print) {
		// display: none;
	}
}

.artworkCorral {
	width: 100%;
	padding-left: 0.5em;
	padding-right: 0.5em;

	.artwork2 {

		@include respond-to(phone) {
			columns: 2;
		}

		figure {
			display: inline-block;
			margin-right: 0.5em;
			margin-bottom: 0.5em;
			margin-top: 0;
			padding: 0;
		}

		img {
			height: 200px;
			width: auto;

			@include respond-to(phone) {
				width: 100%;
				height: auto;
			}
		}
	}
}

.recipeCorral {

	width: 100%;
	padding-left: 0.5em;
	padding-right: 0.5em;


	table {
	    // border-spacing: 0.5em;
	    // border-collapse: separate;
	    // border-right: none;
	    // border-left: none;
	    margin: 1em 0;
	    width: 100%;
	}
	td {
		vertical-align: top;
		padding-bottom: 1em;
		width: 100%;

	}

	.recipe {

		
		// @include box-sizing(border-box);

		padding: 0;
		margin: 0 1em 1em 0;
		font-size: 11px;
		vertical-align: top;
		display: inline-block;
		width: 15%;

		@include respond-to(phone) {
			width: 45%;
		}

		// &:nth-child(4n) {
		// 	margin-right: 0;
		// }

		h4 a {
			color: black;
		}

		h4 {
			font-family: $body-font;
			font-size: 14px;
			font-weight: bold;
			line-height: 1.0;
			margin-bottom: 0.5em;
		}

		p {
			font-family: $body-font;
			font-size: 11px;
			// line-height: 18px;
			margin: 0 0 10px 0;
			
			&:last-child {
				margin: 0;
			}
		}
	}
}

.mainalt {

	.extendedDescription, .categoryDescription {
		column-count: 2;
		margin: 1em 0;

		@include respond-to(phone) {
			column-count: 1;
		}
	}

	#gmap {
		width: 473px;
		float: right;
		margin-left: 1em;

		@include respond-to(phone) {
			width: 100%;
			float: none;
			margin-left: 0;
		}
	}

	.producerDescription {
		column-count: 1;
		margin: 1em 0;
	}

	h3 {
		clear: both;
	}
}

// #infographic {
// 	clear: both;

// 	.infographicSection {
// 		padding: 0 1em;
// 		vertical-align: center;
// 		text-align: center;
// 		border-top: 1px solid black;
// 		border-bottom: 1px solid black;
// 		height: 70px;
// 		position: relative;
// 	}

// 	.icons {
// 		vertical-align: bottom;
// 	}

// 	.sidewaysContainer {
// 		display: inline-block;
// 		width: 13px;
// 		background-color: yellow;
// 		position: relative;
// 	}
// 	.sideways {
// 		transform: translate(1em,0em) rotate(270deg);
// 		position: absolute;
// 		bottom: 0;
// 		transform-origin: left bottom 0;
// 		line-height: 1.0;

// 		font-family: $subheading-font;
// 		font-weight: 700;
// 		text-transform: uppercase;
// 		font-size: 13px;

// 	}

// }

#infographic {

	clear: both;
	margin-top: 0.5em;

	.infographicSegment {
		width: 317px;
		display: inline-table;
		border-right: 1px solid $off-grey-dark;
		border-left: 1px solid $off-grey-dark;

		background-color: $off-grey;

		@include respond-to(phone) {
			display: table;
			width: 100%;
		}
	}

	.infographicRow {
		display: table-row;
	}
	.infographicSection {
		display: table-cell;
		padding: 0 1em;
		text-align: center;
		border-top: 1px solid $off-grey-dark;
		border-bottom: 1px solid $off-grey-dark;
		height: 70px;
		// position: relative;
		vertical-align: middle;
	}

	.icons {
		vertical-align: bottom;
	}

	.sidewaysContainer {
		display: inline-block;
		width: 13px;
		background-color: yellow;
		position: relative;
	}
	.sideways {
		transform: translate(1em,0em) rotate(270deg);
		position: absolute;
		bottom: 0;
		transform-origin: left bottom 0;
		line-height: 1.0;

		font-family: $subheading-font;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 13px;

	}

}
