
.products {
	overflow: hidden;
	margin: 0 0 20px 0;
	list-style-type: none;
	padding: 0;
	
	.type-product {
		padding: 0;
		list-style-type: none;
		@include box-sizing(border-box);
		page-break-inside: avoid;
		width: 100%;
		margin: 0 0 0 0;
		// padding: 20px 0;
		border-bottom: 1px solid $body-background;
		
		.label {
			float: left;
			position: relative;
			text-align: center;
			width: 230px;
			height: 230px;

			margin: 0 20px 0 0;
			
			@include respond-to(phone) {
				display: none;
			}
			
			img {
				height: 230px;
				width: auto;
			}
			img.wideimage {
				width: 100%;
				height: auto;
			}

			a {
				display: block;
			}

			.quickview {
				display: none;
			}
		}

		div.tall {
			height: 320px;

			img {
				height: 320px;
				width: auto;
			}
		}

		.product_text {
			float: left;
			@include box-sizing(border-box);
			padding: 0 0;
			margin-right: 10px;
			
			width: 360px;

			@include respond-to(phone) {
				width: 75%;
				padding: 0;
				margin: 0 0 20px 0;
			}
			// @include respond-to(smalltablet) {
			// 	// width: 360px;
			// 	// padding: 24px 0;

			// 	width: 50%;
			// 	padding: 0;
			// 	margin: 0 0 20px 0;

			// }
			// @include respond-to(largetablet) {
			// 	width: 360px;
			// }
			// @include respond-to(widescreen) {
			// 	width: 450px;
			// }

			@include respond-to(print) {
				
			}
			
			.product_description {
				
				p:last-child {
					margin-bottom: 0;
				}
			}
			
			h2 {
				font-weight: bold;
				margin: 0;
			}
			h3 {
				font-size: 11px;
				color: #999;
			}
			p {

				// font-size: 12px;
				// line-height: 14px;
				
			}
		}
		
		.bottle {
			@include box-sizing(border-box);
			float: left;
			text-align: center;
			width: 120px;

			height: 230px;
			padding: 0 0;

			overflow: hidden;

			@include respond-to(phone) {
				min-width: 60px;
				width: 12.5%;
				height: auto
			}

			a {
			}
			img {

				height: 200px;
				width: auto;

			}




		}
		
		.context {
			@include box-sizing(border-box);
			float: left;
			text-align: center;
			width: 200px;
			height: 230px;
			padding: 0 0;
			line-height: 230px;
			
			a {
				line-height: 0;
			}

			img {
				height: 230px;
				width: auto;
			}
			img.wideimage {
				width: 100%;
				height: auto;
			}
			
			@include respond-to(phone) {
				display: none;
				float: right;
			}
			// @include respond-to(smalltablet) {
			// 	display: none;
			// }
			// @include respond-to(largetablet) {
			// 	display: none;
			// }
			// @include respond-to(widescreen) {
			// 	width: 200px;
			// 	height: 230px;
			// }
		}
		

			
		p {
			width: 100%;
			margin: 10px 0 0 0;
			// line-height: 20px;
			@include box-sizing(border-box);
			text-align: left;
			
			span {
				margin-right: 15px;
				
				a {
					// color: $text_color;
				}
			}
		}
		
		.setup {

			margin-top: 20px;
			
			table {
				width: 100%;
				border-top: 1px solid $body_background;
				border-left: 1px solid $body_background;
				font-family: $subheading-font;
			
				th,td {
					border-right: 1px solid $body_background;
					border-bottom: 1px solid $body_background;
					padding: 3px;
				}
				th {
					background: lighten($body_background, 5%);
					font-weight: 700;
					text-transform: uppercase;
					font-size: 13px;
				}
				td {
					font-size: 17px;
				}
			}
		}

			
	}

	.country, .categorization, .licenses {
		// font-family: $subheading-font;
		text-transform: uppercase;
		// letter-spacing:2px;
		font-weight: 700;		
	}

	.licenses {
		@include respond-to(phone) {
				display: none;
		}
	}

	p.categorization {
		margin-top:0;
	}

	.fulldetailslink {
		display:inline-block;
		// font-size:100%;
		text-transform: uppercase;
		font-weight: 700;
		color:$red;
	}

}

.subcatMenu {
	text-align: center;
	margin: 1em;
	font-size: 12px;
	// font-weight: 700;

	a {
	// 	display: inline-block;
	// 	border: 1px solid gray;
	// 	background-color: white;
	// 	padding: 0.25em 0.5em;
		margin: 0.25em;
	// 	text-transform: uppercase;


	}
}

.clusterentry {
	margin-top: 0.5em;
	margin-left:250px;

   	display: block;
    overflow: hidden;

	@include respond-to(phone) {
		margin-left: 0;
	}
}

.clusterbottle {
	display: inline-block;

	white-space: nowrap;

    // transform: translate(300%,-60px) rotate(90deg);
    // transform-origin: 0% 100%;

    position: relative;

	height:60px;

	background-color: green;

	@include respond-to(phone) {
	}

	img {

		height: 200px;
		width: auto;

		position: absolute;
     	transform: translate(0,-130px) rotate(90deg);
        transform-origin: 30px 170px;


	}

}

.clusterbottle:after {
     content: "";
     float: left;
     margin-top: 100%;
 }
 