
.vitals {

	margin: 0 0.5em;

	p {
		width: 100%;
		margin: 10px 0 0 0;
		// line-height: 20px;
		@include box-sizing(border-box);
		text-align: left;
		
		span {
			margin-right: 15px;
			
			a {
				// color: $text_color;
			}
		}
	}
		

	.description p {
		// font-size: 100%;
		line-height: 1.4;

		@include respond-to(largetablet) {
			// font-size: 100%;
		}
		@include respond-to(smalltablet) {
			// font-size: 100%;
		}
		@include respond-to(phone) {
			// font-size: 80%;
		}

	}

	p.categorization {

		margin-top: 0.25em;

		// text-transform: uppercase;
		// font-weight: 700;		

		font-size: 90%;

	}

	.highlights {
		margin: 0;
		padding: 1em;
		background-color: $off-grey;

		li {
			margin-left: 1em;
		}
	}

	.description {
		float: left;
		max-width: 510px;

		@include respond-to(largetablet) {
			// max-width: 360px;
		}

		@include respond-to(phone) {
			max-width: 75%;
		}

	}

	.duplex {
		float:left;
		margin-left: 1em;
		max-width: 250px;
		text-align: center;

		@include respond-to(phone) {
			float: none;
			width: 100%;
			clear:both;
			margin: 1em 0;
			padding-top: 1em;
			max-width: none;
		}
	}

	.label {
		// float: left;
		// max-width: 200px;
		// margin-right: 1em;
		height: 250px;
		img {
			height: 100%;
			width: auto;
		}
		img.wideimage {
			width: 100%;
			height: auto;
		}

		margin-bottom: 1em;

		@include respond-to(phone) {
			float: left;
			width: 46%;
			height: 160px;

		}
	}

	.bottle {
		float: left;
		width: 150px;
		margin-right: 1em;
		height: 500px;
		text-align: center;

		img {
			width: auto;
			height:100%;
		}
		img.wideimage {
			width: 100%;
			height: auto;
		}

		@include respond-to(phone) {

			width: 20%;
			max-width: 80px;
			height: auto;

			img {
				width: 100%;
				height:auto;
			}
			img.wideimage {
				width: 100%;
				height: auto;
			}
		}

	}

	.context {
		height: 250px;

		// float:left;
		img {
			height: 100%;
			width: auto;
		}
		img.wideimage {
			width: 100%;
			height: auto;
		}

		@include respond-to(phone) {
			float: left;
			width: 46%;
			margin-left: 1em;
			height: 160px;
		}

	}

}


.setup {
	clear: both;
	overflow-x: auto;
	margin: 1em 0;
	


	table {
		width: auto;
		border-top: 1px solid $body_background;
		border-left: 1px solid $body_background;
		font-family: $subheading-font;
	
		th,td {
			border-right: 0.5em solid $body_background;
			border-bottom: 1px solid $body_background;
			padding: 3px;
			white-space: nowrap;
		}
		th {
			background: lighten($body_background, 5%);
			font-weight: 700;
			text-transform: uppercase;
			font-size: 13px;
		}
		td {
			font-size: 17px;
		}
	}

	@include respond-to(smalltablet) {
		overflow-x: auto;
	}
	@include respond-to(phone) {
		overflow-x: auto;
	}

	@include respond-to(print) {
		overflow-x: visible;
	}
}

#gmap {
	@include respond-to(print) {
		// display: none;
	}
}

