
#printlogotype {
	display: none;
	float: right;
	width: 15em;

	@include respond-to(print) {
  		display: block;
  	}
}

.vitalstable {
	display: none;
}

.vitals {

	// margin: 0 0.5em;
	-moz-column-count: 2;
	column-count: 2;
	column-gap: 1.5em;

	@include respond-to(print) {
		-moz-column-count: 2;
		column-count: 2;
	}

	@include respond-to(phone) {
		-moz-column-count: 1;
		column-count: 1;
	}

	p {
		width: 100%;
		margin: 10px 0 0 0;
		// line-height: 20px;
		@include box-sizing(border-box);
		text-align: left;
		
		span {
			margin-right: 15px;
			
			a {
				// color: $text_color;
			}
		}
	}
		

	.description p {
		// font-size: 100%;
		line-height: 1.4;

		@include respond-to(largetablet) {
			// font-size: 100%;
		}
		@include respond-to(smalltablet) {
			// font-size: 100%;
		}
		@include respond-to(phone) {
			// font-size: 80%;
		}

	}

	td.categorization, th.categorization {

		margin-top: 0.25em;

		// text-transform: uppercase;
		// font-weight: 700;		

		font-size: 90%;

	}

	th.categorization {
		padding-right: 1em;
		vertical-align: top;
		@include respond-to(phone) {
			// display: none;
		}
	}

	.highlights {
		margin: 0;
		padding: 1em;
		background-color: $off-grey;

		li {
			margin-left: 1em;
		}
		margin-bottom: 0.5em;

		@include respond-to(print) {
			border: 2px solid $off-grey-dark;
		}
	}



	h3 {
		clear: all;
		margin-top: 1.5em;
	}

}

#productImageryCluster, #productImageryCluster2 {

	width: 100%;

	clear: all;
	margin-top: 0.5em;

	@include respond-to(phone) {
		width: 100%;
		float: none;
	}

	td {
		vertical-align: middle;
		text-align: center;
		overflow: hidden;
		position: relative;
	}

	img {
		width: 100%;
		// display: block;
	}

	img.wideimage {
		width: 100%;
		// display: block;
	}

	#picBottle {
		// width: 50%;
		border-right: 0.5em solid transparent;		
		border-bottom: 0.5em solid transparent;
		// background-color: red;

		img {
			// width: 50%;
			width:60%;
			margin: 0 auto;
		}

	}

	#picLabel, #picContext {
		width: 50%;
	}

	#picPeople, #picPlace {
		width: 50%;
	}

	#picLabel {
		border-bottom: 0.5em solid transparent;
	}

	#picContext {
		border-bottom: 0.5em solid transparent;
	}

	#picPeople {
		border-right: 0.5em solid transparent;		
	}

}

#producerPics {
	width: 455px;
	float: right;

	margin-top: 1em;
	height: 162px;

	img {
		height: 100%;
		width: auto;
		vertical-align: middle;
	}
	img.wideimage {
		width: 100%;
		height: auto;
		vertical-align: middle;
	}

	.extrapic {
		width: 220px;	
		display: inline-block;
	}
}

.setup {
	clear: both;
	overflow-x: auto;

	border-top: 2px solid $off-grey-dark;
	margin-top: 0.5em;
	padding-top: 0.5em;

	table {
		width: auto;
		border-top: 1px solid $body_background;
		border-left: 1px solid $body_background;
		font-family: $subheading-font;
	
		th,td {
			border-right: 1em solid $body_background;
			border-bottom: 1px solid $body_background;
			white-space: nowrap;
		}
		th {
			background: lighten($body_background, 5%);
			font-weight: 700;
			text-transform: uppercase;
			font-size: 13px;
			font-family: $subheading-font;
		}
		td {
			font-size: 14px;
			font-family: $body-font;
		}
	}

	@include respond-to(smalltablet) {
		overflow-x: auto;
	}
	@include respond-to(phone) {
		overflow-x: auto;
	}

	@include respond-to(print) {
		overflow-x: visible;
	}
}


.artworkCorral {
	width: 100%;
	padding-left: 0.5em;
	padding-right: 0.5em;

	.artwork2 {

		@include respond-to(phone) {
			columns: 2;
		}

		figure {
			display: inline-block;
			margin-right: 0.5em;
			margin-bottom: 0.5em;
			margin-top: 0;
			padding: 0;
		}

		img {
			height: 200px;
			width: auto;

			@include respond-to(phone) {
				width: 100%;
				height: auto;
			}
		}
	}
}

.recipeCorral {

	border-top: 2px solid $off-grey-dark;
	margin-top: 0.5em;
	padding-top: 1em;

	width: 100%;
	// padding-left: 0.5em;
	// padding-right: 0.5em;


	table {
	    // border-spacing: 0.5em;
	    // border-collapse: separate;
	    // border-right: none;
	    // border-left: none;
	    margin: 1em 0 0 0;
	    width: 100%;
	}
	td {
		vertical-align: top;
		// padding-bottom: 1em;
		width: 100%;

	}

	.recipe {

		
		// @include box-sizing(border-box);

		padding: 0;
		margin: 0 1em 1em 0;
		font-size: 11px;
		vertical-align: top;
		display: inline-block;
		width: 15%;

		@include respond-to(phone) {
			width: 45%;
		}

		// &:nth-child(4n) {
		// 	margin-right: 0;
		// }

		h4 a {
			color: black;
		}

		h4 {
			font-family: $body-font;
			font-size: 14px;
			font-weight: bold;
			line-height: 1.0;
			margin-bottom: 0.5em;
		}

		p {
			font-family: $body-font;
			font-size: 11px;
			// line-height: 18px;
			margin: 0 0 10px 0;
			
			&:last-child {
				margin: 0;
			}
		}
	}
}

.mainalt {

	.extendedDescription, .categoryDescription {
		-moz-column-count: 2;
		column-count: 2;
		margin: 1em 0;

		@include respond-to(phone) {
			-moz-column-count: 1;
			column-count: 1;
		}
	}

	.productDetailGmap {
		width: 473px;
		width: 235px;
		float: right;
		margin-left: 1em;

		@include respond-to(phone) {
			width: 100%;
			float: none;
			margin-left: 0;
		}
	}

	.productDetailGmap_canvas {
		width: 100%; 
		height: 300px;
		margin: 0 0 $gutter 0;
		@include box-shadow(0 0 3px rgba(0,0,0,.3));
		page-break-inside: avoid;
	}

	#gmapmaker {
		width: 600px;
		height: 480px;
		float: right;
		margin-left: 1em;

		@include respond-to(phone) {
			width: 100%;
			float: none;
			margin-left: 0;
		}

	}

	.producerDescription {
		column-count: 1;
		margin: 1em 0;
	}

	h3 {
		clear: both;
	}
}



#infographic {

	// clear: both;
	margin-top: 1em;
	width: 100%;
	// margin-left: 7px;
	// margin-right: 7px;



	.infographicSegment {
		font-family: $body-font;
		font-size: 14px;

		// width: 317px;
		width: 153px;  // was 155px
		height: 90px;
		display: inline-table;
		border-right: 1px solid $off-grey-dark;
		border-left: 1px solid $off-grey-dark;

		background-color: $off-grey;

		@include respond-to(phone) {
			display: table;
			width: 100%;
		}
	}

	.infographicRow {
		display: table-row;
	}
	.infographicSection {
		display: table-cell;
		// padding: 0 1em;
		padding: 0 0.5em;
		text-align: center;
		border-top: 1px solid $off-grey-dark;
		border-bottom: 1px solid $off-grey-dark;
		height: 70px;
		// position: relative;
		vertical-align: middle;
	}

	.infographicSection.icons {
		vertical-align: bottom;
		padding-right: 0;
		padding-bottom: 10px;
	}

	.sidewaysContainer {
		display: inline-block;
		width: 13px;
		background-color: yellow;
		position: relative;
	}
	.sideways {
		transform: translate(1em,0em) rotate(270deg);
		position: absolute;
		bottom: 0;
		transform-origin: left bottom 0;
		line-height: 1.0;

		font-family: $subheading-font;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 13px;

		display: none;

	}

}
