#modal {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.35);
	z-index:80000;

	transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;

}

#dismissMenu {
	float: right;
	margin-right: 1em;
}

.sidebar2 {
	display: none;
	position: absolute;
	z-index: 99000;
	background-color: $off-grey;
	font-family: $subheading-font;
	min-height: 6000px;
	padding-top: 1em;
	width: 360px;
	left:0px;
	top: 0px;

	@include respond-to(phone) {
		width: 100%;
	}
}

#sidebarAdditionalLinks {

	border-top: 1px solid black;
	text-transform: uppercase;

	li {
		margin-left: 0.75em;
		border-bottom: 1px solid $off-grey-dark;
		font-weight: 700;
		line-height: 2.0;
	}

}

#sidebar-menu {

	list-style-type: none;
	padding: 0;
	margin: 0;
	z-index:99999;

	font-size: 100%;

	ul {                                 
	  list-style-type: none;  
	  padding: 0;             
	  margin: 0;              
	}                                   

	li {                                 
	  padding-left: 24px;
	  line-height: 2; 
	  overflow: hidden;	  
	}         

	.handle {                                                                            
	  background: transparent url("../gfx/spacer.png");
	  background-repeat: no-repeat;
	  background-size: 24px 12px;                                            
	  display: inline-block;                                                          
	  width: 24px;                                                             
	  height: 12px;

	}                                                                                    

	.collapsed {                                                                         
	  background: transparent url("../gfx/plus-black.png");                     
	  background-repeat: no-repeat;   
	  background-size: 24px 12px;                                                                                     
	  cursor: pointer;                                                         
	}                                                                                    

	.expanded {                                                                          
	  background: transparent url("../gfx/minus-black.png");                    
	  background-repeat: no-repeat;           
	  background-size: 24px 12px;                                                                             
	  cursor: pointer;                                                         
	}                     

}

.typeBrowserSection {
	clear: both;
	margin-top: 1em;
	margin-bottom: 1em;
	line-height: 2.0;
	text-transform: uppercase;
	font-weight: 700;
	border-top: 1px solid black;
}

.typeBrowserCat1 {
	margin-left: 2em;
	border-bottom: 1px solid $off-grey-dark;
}

.typeBrowserCat2 {
	margin-left: 4em;
	border-bottom: 1px solid $off-grey-dark;
}

.typeBrowserVerticalLeft {
	transform: translate(1.5em,0.5em) rotate(90deg);
	position: absolute;
	transform-origin: left top 0;
	line-height: 1.0;
}

#searchOverlay {
	padding: 1em;
	background-color: $off-grey;
	width: 100%;
	max-width: 640px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	min-height: 2000px;
}

#dismissSearchOverlay {
	cursor: pointer;
	position: absolute;
	right: 1em;
	top: 1em;
}

.searchBar {
	text-align: center;
	margin-bottom: 1em;
}

#searchResults {
	padding: 1em;
	display: none; //hidden by default

	a {
		color: black;
	}

	a:hover {
		text-decoration: none;
	}

	.match {
		padding: 0.25em 0;
		border-top: 1px solid $off-grey-dark;
		clear: both;

		.icons {
			display: table-cell;
			width: 167px;
			float: left;
			img {
				margin-right: 1em;
			}
		}
		.summary {
		}


		strong {
			font-weight: bold;
		}
	}

	.match:hover {
		background-color: $off-grey-dark;
	}
}


.clusterbottle2 {
	display: inline-block;

	white-space: nowrap;

    position: relative;

	height:50px;

	background-color: green;

	@include respond-to(phone) {
	}

	img {

		height: 167px;
		width: auto;

		position: absolute;
     	transform: translate(0,-115px) rotate(90deg);
        transform-origin: 25px 141px;


	}

}

.clusterbottle2:after {
     content: "";
     float: left;
     margin-top: 100%;
 }
