#modal {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.35);
	z-index:80000;

	transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;

}
.sidebar2 {
	display: none;
	position: absolute;
	z-index: 99000;
	background-color: $off-grey;
	font-family: $subheading-font;
	min-height: 6000px;
	padding-top: 1em;
	width: 360px;
	left:0px;
	top: 0px;
}

#sidebar-menu {

	list-style-type: none;
	padding: 0;
	margin: 0;
	z-index:99999;

	font-size: 100%;

	ul {                                 
	  list-style-type: none;  
	  padding: 0;             
	  margin: 0;              
	}                                   

	li {                                 
	  padding-left: 24px;
	  line-height: 2; 
	  overflow: hidden;	  
	}         

	.handle {                                                                            
	  background: transparent url("../gfx/spacer.png");
	  background-repeat: no-repeat;
	  background-size: 24px 12px;                                            
	  display: inline-block;                                                          
	  width: 24px;                                                             
	  height: 12px;

	}                                                                                    

	.collapsed {                                                                         
	  background: transparent url("../gfx/plus-black.png");                     
	  background-repeat: no-repeat;   
	  background-size: 24px 12px;                                                                                     
	  cursor: pointer;                                                         
	}                                                                                    

	.expanded {                                                                          
	  background: transparent url("../gfx/minus-black.png");                    
	  background-repeat: no-repeat;           
	  background-size: 24px 12px;                                                                             
	  cursor: pointer;                                                         
	}                     

}

.searchBar {
	text-align: center;
	margin-bottom: 1em;
}

.typeBrowserSection {
	margin-bottom: 1em;
	line-height: 2.0;
	text-transform: uppercase;
	font-weight: 700;
	border-top: 1px solid black;
}

.typeBrowserCat1 {
	margin-left: 2em;
	border-bottom: 1px solid $off-grey-dark;
}

.typeBrowserCat2 {
	margin-left: 4em;
	border-bottom: 1px solid $off-grey-dark;
}

.typeBrowserVerticalLeft {
	transform: translate(1.5em,0.5em) rotate(90deg);
	position: absolute;
	transform-origin: left top 0;
	line-height: 1.0;
}

