* {
	box-sizing: border-box;
}

@page  
{ 
    size: A4;   /* auto is the initial value */ 

    /* this affects the margin in the printer settings */ 
    margin: 0.25in 0 0.5in 0;  
} 

body { 
	font-family: $body_font;
	font-size: 14px;
	line-height: 1.4;
	margin: 0;
	padding: 0;
	background: $body_background;
	color: $text_color;
	position: relative;

	@include respond-to(phone) {
		font-size: 80%;
	}

	@include respond-to(print) {
		margin: 0;
	}

}


a {
	color: $link_color;
	text-decoration: none;
	
	&:hover {
		color: $link_hover;
		text-decoration: underline;
	}

	h2 {
		color: black;
	}
}

.button {
	display: inline-block;
	background: $red;
	padding: 8px 16px;
	margin: 0;
	border: 0px;
	font-size: 18px;
	line-height: 1em;
	font-family: $subheading-font;
	text-transform: uppercase;
	color: #fff;
	@include box-sizing(border-box);
	-webkit-appearance: none;
	@include border-radius(0px);
	text-decoration: none !important;

	&:hover {
		cursor: pointer;
		color: #fff;
		background: lighten($red, 10%);
	}
	
	&.fullprofile {
		margin: 20px 0 0 0;
		
		@include respond-to(print) {
			display: none;
		}
	}
}	

.hero {
	width: 100%;
	height: 440px;
	background: #f2f2f2;
	background-size: cover;
	background-position: center center;
	
	@include respond-to(largetablet) {
		height: 440px;
	}
	@include respond-to(smalltablet) {
		height: 320px;
	}
	@include respond-to(phone) {
		height: 200px;
	}
	
	h1 {
		position: absolute;
		bottom: 30px;
		left: 0;
		color: #fff;
	}
}







.content {
	background: #fff;
	position: relative;
	z-index: 1;
	
	// padding-top: 70px;
	
	@include respond-to(largetablet) {
		// padding-top: 50px;
	}
	@include respond-to(smalltablet) {
		// padding-top: 50px;
	}
	@include respond-to(phone) {
		// padding-top: 40px;
	}
	
	.wrap {
		padding: $gutter 0;
		background: #ffffff;
	}
	
	h1, h2, h3, h4, h5, h6 {
		line-height: 1em;
	}
	h1 {
		font-family: $heading-font;
		font-size: 36px;
		font-weight: 700;
		margin: 0 0 10px 0;
		
		// @include respond-to(smalltablet) {
		// 	font-size: 52px;
		// }
		@include respond-to(phone) {
			font-size: 24px;
			margin: 0 0 12px 0;
		}
	}
	h2 {
		font-family: $heading-font;
		font-size: 22px;
		font-weight: 400;
		margin: 0 0 24px 0;

		@include respond-to(phone) {
			font-size: 20px;
		}
	}
	h3 {
		font-family: $subheading-font;
		font-size: 16px;
		line-height: 24px;
		font-weight: 700;
		margin: 0 0 0 0;
		text-transform: uppercase;
		letter-spacing: 2px;
		
		&.category_title {
			font-size: 26px;
			line-height: 1em;
		}
	}
	h4 {
		font-size: 16px;
		line-height: 24px;
		margin: 0 0 0 0;
		color: #999;
	}
	ul,ol {
		font-size: 14px;
		// line-height: 2em;
		font-weight: 300;
		margin: 0 0 20px 0;
	}
	ul {
		list-style-type: disc;
		margin: 0 0 20px 20px;
	}
	p {
		// font-size: 14px;
		// line-height: 20px;
		font-weight: 300;
		margin: 0 0 20px 0;
		
		@include respond-to(phone) {
			// font-size: 17px;
			// line-height: 22px;
		}
		
		&.note {
			font-size: 11px;
			// line-height: 30px;
			font-style: italic;
			font-weight: bold;
		}
		a {
			color: $red;
			font-weight: 700;
		}
	}
	
	
	img {
		
		&.left {
			width: 50%;
			margin: 0 20px 10px 0;

		}
		/*
		@include respond-to(smalltablet) {
			float: none;
			width: 100% !important;
			height: auto !important;
			margin: 0;
		}
		@include respond-to(phone) {
			float: none;
			width: 100% !important;
			height: auto !important;
			margin: 0;
		}
		*/
	}

	
	
	.catalogue {
		float: right;
		
		@include respond-to(phone) {
			font-size: 12px;
		}

		@include respond-to(print) {
			display: none;
		}
		
		i {
			margin-right: 10px;
		}
	}
	

	

	

	
	
	/* Single Product Overview page*/
	.product-overview {
	
		.banner {
			position: relative;
			line-height: 0;
			min-height: 300px;
			margin: 0 0 20px 0;
			overflow: hidden; 

			@include respond-to(smalltablet) {
				min-height: 0px;
			}
			@include respond-to(largetablet) {
				min-height: 0px;
			}
			@include respond-to(phone) {
				min-height: 0;
				position: relative;
			}
			
			@include respond-to(print) {
				min-height: 0;
				height: auto;
				margin: 0;
			}

			img {
			
				@include respond-to(smalltablet) {
					width: 100%;
					height: auto;
				}
				@include respond-to(largetablet) {
					width: 100%;
					height: auto;
				}
				@include respond-to(phone) {
					display: none;
				}
				@include respond-to(print) {
					display: none;
				}

			}
			
			.product-name {
				width: 100%;
				position: absolute;
				padding: 20px;
				left: 0px;
				bottom: 0px;
				color: #fff;
				@include box-sizing(border-box);
				@include background-image(linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.5)));
				
				@include respond-to(print) {
					background: none;
					position: relative;
					color: black;
					text-shadow: none;
				}

				@include respond-to(phone) {
					background: none;
					position: relative;
					color: black;
					text-shadow: none;

					h1 {
						// font-size: 36px;
					}

					h3 {
						color: black;
						text-shadow: none;
					}
				}

				h1 {
					text-shadow: 0 0 10px rgba(0,0,0,.9);
					margin: 0;
					line-height: 1em;

					@include respond-to(print) {
						background: none;
						position: relative;
						color: black;
						text-shadow: none;
					}
					@include respond-to(phone) {
						background: none;
						position: relative;
						color: black;
						text-shadow: none;
					}
				}
				h3 {
					text-shadow: 0 0 10px rgba(0,0,0,.9);
					line-height: 1em;
					position: relative;
					z-index: 20;
					a {
						color: #fff;
					}

					@include respond-to(print) {
						background: none;
						position: relative;
						color: black;
						text-shadow: none;
						a {
							color: black;
						}
					}
					@include respond-to(phone) {
						background: none;
						position: relative;
						color: black;
						text-shadow: none;
						a {
							color: black;
						}
					}

				}
			}
		}

		.nobanner {
			min-height: 0;
			position: relative;

			.product-name {
				background: none;
				position: relative;
				color: black;
				text-shadow: none;

				h1 {
					// font-size: 36px;
				}

				h3 {
					color: black;
					text-shadow: none;
				}
			}
		}
		
		
		.artwork {

			@include respond-to(phone) {
				width: 100%;
				margin: 1em 0;
			}


			.columnA, .columnB {
				width: 47%;
				float: left;
			}
			.columnB {
				float: left;
				margin-left: 1em;
			}


			figure {
				margin: 0 1em 1em 0;
				// width: 46%;
				// float: left;
				// &.grid-sizer {
				// 	width: $col;
				// }
				@include box-shadow(0 0 3px rgba(0,0,0,.3));
				
				@include respond-to(print) {
					@include box-shadow(none);
				}
				// @include respond-to(phone) {
				// 	float: left;
				// 	width: 45%;
				// }


			}
			
			img {
				width: 100%;
				height: auto;
				margin: 0 0 0 0;
			}
		}
		
		/* How the "card" displays on the product page */
		.products {
		
			.type-product {
				padding: 0;
			}
		}
	}
	


	
	
	
	div.recipes {
		
		@include respond-to(phone) {
			width: 100%;
			margin: 1em 0;
		}


		.columnA, .columnB {
			width: 47%;
			float: left;
		}
		.columnB {
			float: left;
			margin-left: 1em;
		}

		.recipe {

			
			// @include box-sizing(border-box);

			background: #f3f3f3;
			padding: 0.5em;
			margin: 0 0 1em 0;
			font-size: 11px;
			vertical-align: top;
			


			// &:nth-child(4n) {
			// 	margin-right: 0;
			// }

			h4 a {
				color: black;
			}

			h4 {
				font-family: $body-font;
				font-size: 14px;
				font-weight: bold;
				line-height: 1.0;
				margin-bottom: 0.5em;
			}

			p {
				font-family: $body-font;
				font-size: 11px;
				// line-height: 18px;
				margin: 0 0 10px 0;
				
				&:last-child {
					margin: 0;
				}
			}
		}


	}
	
	.recipeFull {

		background-color: $off-grey;
		padding: 1em;
		max-width: 480px;

		line-height: 1.0;
		margin-bottom: 2em;
		font-size: 100%;

		p {
			margin-bottom: 1em;
		}

		.measure {
			margin-left: 1.5em;
		}

		@include respond-to(phone) {

			h1 {
				font-size: 24px;
			}

		}

	}
	

	.main {
		width: $fourcol;
		float: right;
		margin-left: $gutter;
		
		@include respond-to(smalltablet) {
			width: 73%;
			margin: 0;
		}
		@include respond-to(phone) {
			float: none;
			width: 100%;
		}
		@include respond-to(widescreen) {
			width: $fivecol;
		}
		@include respond-to(print) {
			width: 100%;
		}
		
		&.fullwidth {
			width: 100%;
			float: none;
			margin: 0;
		}
		&.halfwidth {
			width: $twocol;
			float: left;
			margin: 0;
			
			@include respond-to(phone) {
				width: 100%;
				padding: 2%;
			}
			@include respond-to(smalltablet) {
				width: 49%;
			}
			@include respond-to(largetablet) {
				width: 49%;
				padding: 0 2%;
			}
			@include respond-to(widescreen) {
				width: $threecol;
			}
		}




		// provisional provision for imagery within the blurbs (this stuff probably needs relocation)
		figure {

			img {
				width:100%;
				height: auto;
			}
			width: 100%;
		}

		figure.right {

			width: 80%;
			float: none;
			margin-left: auto;
			margin-right: auto;
		}



	}

	
	#map_canvas {
		width: 100%; 
		height: 300px;
		margin: 0 0 $gutter 0;
		@include box-shadow(0 0 3px rgba(0,0,0,.3));
		page-break-inside: avoid;
	}
	

	/* this is actually the half-assed organization of the two columns on product detail page */
	.sidebar {
		width: $col;
		float: left;
		margin: 0 0 0 0;

		@include respond-to(smalltablet) {
			width: 23%;
		}
		@include respond-to(phone) {
			float: none;
			width: 100%;
		}
		@include respond-to(print) {
			// width: 100%;
			// float: none;
		}
		
		&.halfwidth {
			width: $threecol;
			float: right;
			
			@include respond-to(phone) {
				width: 100%;
				padding: 2%;
			}
			@include respond-to(smalltablet) {
				width: 49%;
			}
			@include respond-to(largetablet) {
				width: 49%;
				padding: 0 2%;
			}

			@include respond-to(print) {
				// width: 100%;
				// float: none;
				// clear: all;
			}
 		}
		
		&.product-nav {
		
			@include respond-to(print) {
				display: none;
			}
		}
		
		

	}

	
	
}


#productSummaryContainer {
	margin: 0.5em 0 0.5em 0.5em;
}

section header {
	margin: 0 0.5em;	
}


.catblurb {

	.blurb {
		width: 66%;

		figure {

			img {
				width: 100%;
				height: auto;
			}
		}
		figure.left {
			width: 30%;
			float: left;
		}
		figure.right {
			width: 30%;
			float: right;
		}
	}

	.images {
		width: 33%;
		float: right;

		img {
			width: 100%;
		}
	}


    figure {
    	width: 100%;
    	text-align: center;
    	margin-bottom: 1em;

    	img {
    		width: 75%;

    		@include respond-to(phone) {
    			width: 100%;
    		}
    	}
    }
    figure.left {
    	width: 33%;
    	float: left;

    	img {
    		width: 100%;
    	}

    	@include respond-to(phone) {
    		width: 100%;
    	}
    }
    figure.right {
    	width: 33%;
    	float: right;

		img {
    		width: 100%;
    	}

    	@include respond-to(phone) {
    		width: 100%;
    	}
    }

}


// home page stuff

.features {

	figure {
		position: relative;
		width: 100%;
		border: 4px solid white;
	}
	figure img {
		width: 100%;
		height: auto;
	}
	.secondfeatures figure {
		width: 50%;
		float: left;

		@include respond-to(phone) {
			float: none;
			width: 100%;
		}
	}
	figure div.caption {
		position: absolute;
		left: 0;
		bottom: 0;
		background: rgba(0,0,0,.5);
		width: 100%;
		height: 20%;
		color: white;
		font-size: 240%;
		line-height: 1.0;
		padding: 0.5em;
		baseline:bottom;
		font-weight: bold;

		@include respond-to(phone) {
			font-size: 80%;
		}
	}
	.secondfeatures figure .caption {
		font-size: 125%;
		width: 100%;
		@include respond-to(phone) {
			font-size: 80%;
		}
	}
}


.folded {
	display: none;
}

// expandable blurbs (deprecated---can probably be removed)

.expandable {
	overflow: hidden;
	max-height: 7.25em;
	border-bottom: 2px solid black;
	position: relative;
    transition: max-height 1s;
}

.morebutton {
	font-family: myriad-pro-condensed, Georgia, Times, serif;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	font-size: 80%;
	border: 2px solid black;
	background-color: white;
	text-align: center;
	position: relative;
	top: -2px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	padding: 0.25em 1em;

	@include respond-to(phone) {
		font-size: 12px;
	}
}


// setup page

.producerSetup {

	h2 {
		margin-top: 1em;
		margin-bottom: 0;
		padding: 0.5em;
		background-color: $off-grey;
	}

	h3 {
		margin-top: 0.5em;
		margin-bottom: 0;
	}
	p {
		margin-bottom: 0.5em;
	}
	.setup {
		margin-top: 0;
		margin-bottom: 0;
	}

	.setup2 {
		margin-top: 0;
		margin-bottom: 0;
		font-family: $subheading-font;

		div {
			display: inline-block;
			margin: 1px;
			background: $off-grey;
			padding: 1px 0.5em;
			font-weight: bold;

			.fieldname {
				text-transform: uppercase;
				display:block;
				color: $black;
				font-weight: normal;
			}
		}

		div.sku {
			background-color: $off-grey-dark;
		}

	}


}




// imagery.html

#imageryReport .thumbnail {
}
#imageryReport .thumbnail img {
	height: 250px;
	float: right;
}
#imageryReport h2 {
	margin-top: 1em;

}
#imageryReport .thumbnail {
	margin-bottom: 1em;
	max-width: 800px;
}
#imageryReport .thumbnail img.wide {
	height: auto;
	width: 250px
}


// recipe summary page

#recipefilters {
	background-color: $off-grey;
	padding: 0.5em;
	width: 270px;
	float: left;

	@include respond-to(phone) {
		width: 100%;

		overflow: hidden;
		max-height: 4.25em;
		border-bottom: 2px solid black;
		position: relative;
	    transition: max-height 1s;

	}
}

#recipeFiltersMoreButton {
	display: none;

	@include respond-to(phone) {
		display: block;
		font-size: 75%;
		border: 2px solid black;
		background-color: white;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		width: 200px;
		padding: 0.25em 1em;
	}
}


#recipeResultsBlock {
	margin-left: 290px;

	@include respond-to(phone) {
		margin-left: 0;
	}

}

#matchesAnnotation {
	font-weight: bold;
	margin-top: 1em;
}

.recipeSummaries {
	max-width: 600px;
}

.recipeSummaries td {
	vertical-align: bottom;
	border-bottom: 1em solid white;
}

td.combo, td.protocol, td.vessel {
	text-align: center;
	min-width: 54px;
}

td.combo {
	min-width: 108px;
}

.mainalt {
	width: 100%;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.inlineButton {
	display:inline-block;
	// font-size:100%;
	text-transform: uppercase;
	font-weight: 700;
	color:$red;
}
