* {
	box-sizing: border-box;
}

@page  
{ 
    size: A4;   /* auto is the initial value */ 

    /* this affects the margin in the printer settings */ 
    margin: 0.25in 0 0.5in 0;  
} 

body { 
	font-family: $body_font;
	font-size: 14px;
	line-height: 1.4;
	margin: 0;
	padding: 0;
	background: $body_background;
	color: $text_color;
	position: relative;

	@include respond-to(phone) {
		font-size: 80%;
	}

	@include respond-to(print) {
		margin: 0;
	}

}


a {
	color: $link_color;
	text-decoration: none;
	
	&:hover {
		color: $link_hover;
		text-decoration: underline;
	}

	h2 {
		color: black;
	}
}

.button {
	display: inline-block;
	background: $red;
	padding: 8px 16px;
	margin: 0;
	border: 0px;
	font-size: 18px;
	line-height: 1em;
	font-family: $subheading-font;
	text-transform: uppercase;
	color: #fff;
	@include box-sizing(border-box);
	-webkit-appearance: none;
	@include border-radius(0px);
	text-decoration: none !important;

	&:hover {
		cursor: pointer;
		color: #fff;
		background: lighten($red, 10%);
	}
	
	&.fullprofile {
		margin: 20px 0 0 0;
		
		@include respond-to(print) {
			display: none;
		}
	}
}	

.hero {
	width: 100%;
	height: 440px;
	background: #f2f2f2;
	background-size: cover;
	background-position: center center;
	
	@include respond-to(largetablet) {
		height: 440px;
	}
	@include respond-to(smalltablet) {
		height: 320px;
	}
	@include respond-to(phone) {
		height: 200px;
	}
	
	h1 {
		position: absolute;
		bottom: 30px;
		left: 0;
		color: #fff;
	}
}







.content {
	background: #fff;
	position: relative;
	z-index: 1;
	
	// padding-top: 70px;
	
	@include respond-to(largetablet) {
		// padding-top: 50px;
	}
	@include respond-to(smalltablet) {
		// padding-top: 50px;
	}
	@include respond-to(phone) {
		// minimal padding around everything (except top menu and footer) for mobile
		margin-left: 3px;
		margin-right: 3px;

	}
	
	.wrap {
		padding: $gutter 0;
		background: #ffffff;
	}
	
	h1, h2, h3, h4, h5, h6 {
		line-height: 1em;
	}
	h1 {
		font-family: $heading-font;
		font-size: 36px;
		font-weight: 700;
		margin: 0 0 10px 0;
		
		// @include respond-to(smalltablet) {
		// 	font-size: 52px;
		// }
		@include respond-to(phone) {
			font-size: 24px;
			margin: 0 0 12px 0;
		}

		position: relative; // this is so we can put things next to it
	}
	h2 {
		font-family: $heading-font;
		font-size: 22px;
		font-weight: 400;
		margin: 0 0 24px 0;

		@include respond-to(phone) {
			font-size: 20px;
		}
	}
	h3 {
		font-family: $subheading-font;
		font-size: 14px;
		line-height: 1.0;
		font-weight: 700;
		margin: 0 0 0 0;
		text-transform: uppercase;
		letter-spacing: 2px;
		
		&.category_title {
			font-size: 26px;
			line-height: 1em;
		}

		@include respond-to(phone) {
			font-size: 12px;
		}

	}
	h4 {
		font-size: 16px;
		line-height: 24px;
		margin: 0 0 0 0;
		color: #999;
	}
	ul,ol {
		font-size: 14px;
		// line-height: 2em;
		font-weight: 300;
		margin: 0 0 20px 0;
	}
	ul {
		list-style-type: disc;
		margin: 0 0 20px 20px;
	}
	p {
		// font-size: 14px;
		// line-height: 20px;
		font-weight: 300;
		margin: 0 0 20px 0;
		
		@include respond-to(phone) {
			// font-size: 17px;
			// line-height: 22px;
		}
		
		&.note {
			font-size: 11px;
			// line-height: 30px;
			font-style: italic;
			font-weight: bold;
		}
		a {
			color: $red;
			font-weight: 700;

			@include respond-to(print) {
				color: inherit;
			}


		}
	}
	
	
	img {
		
		&.left {
			width: 50%;
			margin: 0 20px 10px 0;

		}
		/*
		@include respond-to(smalltablet) {
			float: none;
			width: 100% !important;
			height: auto !important;
			margin: 0;
		}
		@include respond-to(phone) {
			float: none;
			width: 100% !important;
			height: auto !important;
			margin: 0;
		}
		*/
	}

	
	
	.catalogue {
		float: right;
		
		@include respond-to(phone) {
			font-size: 12px;
		}

		@include respond-to(print) {
			display: none;
		}
		
		i {
			margin-right: 10px;
		}
	}
	

	

	

	
	
	/* Single Product Overview page*/
	.product-overview {
	
		.banner {
			position: relative;
			line-height: 0;
			min-height: 300px;
			margin: 0 0 20px 0;
			overflow: hidden; 

			@include respond-to(smalltablet) {
				min-height: 0px;
			}
			@include respond-to(largetablet) {
				min-height: 0px;
			}
			@include respond-to(phone) {
				min-height: 0;
				position: relative;
			}
			
			@include respond-to(print) {
				min-height: 0;
				height: auto;
				margin: 0;
			}

			img {
			
				@include respond-to(smalltablet) {
					width: 100%;
					height: auto;
				}
				@include respond-to(largetablet) {
					width: 100%;
					height: auto;
				}
				@include respond-to(phone) {
					display: none;
				}
				@include respond-to(print) {
					display: none;
				}

			}
			
			.product-name {
				width: 100%;
				position: absolute;
				padding: 20px;
				left: 0px;
				bottom: 0px;
				color: #fff;
				@include box-sizing(border-box);
				@include background-image(linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.5)));
				
				@include respond-to(print) {
					background: none;
					position: relative;
					color: black;
					text-shadow: none;
				}

				@include respond-to(phone) {
					background: none;
					position: relative;
					color: black;
					text-shadow: none;

					h1 {
						// font-size: 36px;
					}

					h3 {
						color: black;
						text-shadow: none;
					}
				}

				h1 {
					text-shadow: 0 0 10px rgba(0,0,0,.9);
					margin: 0;
					line-height: 1em;

					@include respond-to(print) {
						background: none;
						position: relative;
						color: black;
						text-shadow: none;
					}
					@include respond-to(phone) {
						background: none;
						position: relative;
						color: black;
						text-shadow: none;
					}
				}
				h3 {
					text-shadow: 0 0 10px rgba(0,0,0,.9);
					line-height: 1em;
					position: relative;
					z-index: 20;
					a {
						color: #fff;
					}

					@include respond-to(print) {
						background: none;
						position: relative;
						color: black;
						text-shadow: none;
						a {
							color: black;
						}
					}
					@include respond-to(phone) {
						background: none;
						position: relative;
						color: black;
						text-shadow: none;
						a {
							color: black;
						}
					}

				}
			}
		}

		.nobanner {
			min-height: 0;
			position: relative;

			.product-name {
				background: none;
				position: relative;
				color: black;
				text-shadow: none;

				h1 {
					// font-size: 36px;
				}

				h3 {
					color: black;
					text-shadow: none;

					@include respond-to(print) {
						display: none;
					}


				}
			}
		}
		
		
		.artwork {

			@include respond-to(phone) {
				width: 100%;
				margin: 1em 0;
			}


			.columnA, .columnB {
				width: 47%;
				float: left;
			}
			.columnB {
				float: left;
				margin-left: 1em;
			}


			figure {
				margin: 0 1em 1em 0;
				// width: 46%;
				// float: left;
				// &.grid-sizer {
				// 	width: $col;
				// }
				@include box-shadow(0 0 3px rgba(0,0,0,.3));
				
				@include respond-to(print) {
					@include box-shadow(none);
				}
				// @include respond-to(phone) {
				// 	float: left;
				// 	width: 45%;
				// }


			}
			
			img {
				width: 100%;
				height: auto;
				margin: 0 0 0 0;
			}
		}
		
		/* How the "card" displays on the product page */
		.products {
		
			.type-product {
				padding: 0;
			}
		}
	}
	


	
	
	
	div.recipes {
		
		@include respond-to(phone) {
			width: 100%;
			margin: 1em 0;
		}


		.columnA, .columnB {
			width: 47%;
			float: left;
		}
		.columnB {
			float: left;
			margin-left: 1em;
		}

		.recipe {

			
			// @include box-sizing(border-box);

			background: #f3f3f3;
			padding: 0.5em;
			margin: 0 0 1em 0;
			font-size: 11px;
			vertical-align: top;
			


			// &:nth-child(4n) {
			// 	margin-right: 0;
			// }

			h4 a {
				color: black;
			}

			h4 {
				font-family: $body-font;
				font-size: 14px;
				font-weight: bold;
				line-height: 1.0;
				margin-bottom: 0.5em;
			}

			p {
				font-family: $body-font;
				font-size: 11px;
				// line-height: 18px;
				margin: 0 0 10px 0;
				
				&:last-child {
					margin: 0;
				}
			}
		}


	}
	
	.recipeFull {

		background-color: $off-grey;
		padding: 1em;
		max-width: 480px;

		line-height: 1.0;
		margin-bottom: 2em;
		font-size: 14px;
		font-family: $body-font;

		p {
			margin-bottom: 1em;
		}

		img {
			margin:0;
		}

		.measure {
			margin-left: 1.5em;
		}

		@include respond-to(phone) {

			h1 {
				font-size: 24px;
			}

		}

	}
	

	.main {
		width: $fourcol;
		float: right;
		margin-left: $gutter;
		
		@include respond-to(smalltablet) {
			width: 73%;
			margin: 0;
		}
		@include respond-to(phone) {
			float: none;
			width: 100%;
		}
		@include respond-to(widescreen) {
			width: $fivecol;
		}
		@include respond-to(print) {
			width: 100%;
		}
		
		&.fullwidth {
			width: 100%;
			float: none;
			margin: 0;
		}
		&.halfwidth {
			width: $twocol;
			float: left;
			margin: 0;
			
			@include respond-to(phone) {
				width: 100%;
				padding: 2%;
			}
			@include respond-to(smalltablet) {
				width: 49%;
			}
			@include respond-to(largetablet) {
				width: 49%;
				padding: 0 2%;
			}
			@include respond-to(widescreen) {
				width: $threecol;
			}
		}




		// provisional provision for imagery within the blurbs (this stuff probably needs relocation)
		figure {

			img {
				width:100%;
				height: auto;
			}
			width: 100%;
		}

		figure.right {

			width: 80%;
			float: none;
			margin-left: auto;
			margin-right: auto;
		}



	}

	
	#map_canvas {
		width: 100%; 
		height: 300px;
		margin: 0 0 $gutter 0;
		@include box-shadow(0 0 3px rgba(0,0,0,.3));
		page-break-inside: avoid;
	}
	

	/* this is actually the half-assed organization of the two columns on product detail page */
	.sidebar {
		width: $col;
		float: left;
		margin: 0 0 0 0;

		@include respond-to(smalltablet) {
			width: 23%;
		}
		@include respond-to(phone) {
			float: none;
			width: 100%;
		}
		@include respond-to(print) {
			// width: 100%;
			// float: none;
		}
		
		&.halfwidth {
			width: $threecol;
			float: right;
			
			@include respond-to(phone) {
				width: 100%;
				padding: 2%;
			}
			@include respond-to(smalltablet) {
				width: 49%;
			}
			@include respond-to(largetablet) {
				width: 49%;
				padding: 0 2%;
			}

			@include respond-to(print) {
				// width: 100%;
				// float: none;
				// clear: all;
			}
 		}
		
		&.product-nav {
		
			@include respond-to(print) {
				display: none;
			}
		}
		
		

	}

	
	
}


#productSummaryContainer {
	margin: 0.5em 0 0.5em 0;

	border-top: 2px solid $off-grey-dark;
	margin-top: 0.5em;
	padding-top: 1em;
	// this is a little tricky and may need to be removed, but it’s basically to prevent
	// the text from flowing beneath the bottle
	.product_description p {
		max-width: 360px;
	}

}

section header {
	// margin: 0 0.5em;
	position: relative;
}

header.producerindex {

	h1 {
		margin-bottom: 0;
	}

	p.categorization {
		margin-top: 0;
		margin-bottom: 1em;
		text-transform: uppercase;
		font-size: 90%;
	}

	.images {
		width: 500px;
		float: right;
		text-align: center;

		img {
			width: 100%;
		}

		figure.logo {
			width: 100%;
			// height: 170px;
			margin: 1em auto 1em auto;
			// line-height: 170px;

			img {
				// width: auto;
				// height: 170px;
			}

			img.wideimage {
				// width: 90%;
				// height: auto;
			}

			@include respond-to(phone) {
				// width: 100%;
				// height: auto;
				line-height: 1;
			}

		}



		@include respond-to(phone) {
			width: 50%;
			float: right;
		}

	}

}

.catblurb {

	h2 {
		font-size: 18px;
		font-weight: 700;
		margin-top: 0.75em;
		margin-bottom: 0.25em;
	}

	figure.left2 {
		width: 50%;
		float: left;
		margin-right: 1em;
		margin-bottom: 0;
	}

	figure.right2 {
		width: 50%;
		float: right;
		margin-left: 1em;
		margin-bottom: 0;
	}

	.images {
		width: 50%;
		float: right;

		img {
			width: 100%;
		}
	}

	.blurb {
		width: 450px;

		figure {

			img {
				width: 100%;
				height: auto;
			}
		}
		figure.left {
			width: 30%;
			float: left;
		}
		figure.right {
			width: 30%;
			float: right;
		}

		@include respond-to(phone) {
			width: 100%;
		}

	}

	.producerTrio {
		clear: both;

		figure {
			display: inline-block;
			width: 33%;

			img {
				margin:0;

			}

			height: 230px;
			overflow: hidden;

			@include respond-to(phone) {
				width: 49%;
				height: auto;
			}


		}

		figure.placeImage {

			margin-right: 4px;

			@include respond-to(phone) {
				margin-right: 0;
			}
		}

		figure.processImage {

			margin-right: 4px;

			@include respond-to(phone) {
				float: right;
			}

		}
		figure.peopleImage {
			@include respond-to(phone) {
				float: right;
			}

		}

		.producerDetailGmap {
			width: 33%;
			float: right;
			position:relative;

			@include respond-to(phone) {
				width: 100%;
				float: none;
			}

			.mapinset {
				position: absolute;
				top:0px;
				right:0px;
				border-left: 5px solid white;
				border-bottom: 5px solid white;
			}

			height: 230px;
			overflow: hidden;

		}

		.producerDetailGmap_canvas {
			height: 230px;
			margin: 0;
			box-shadow: none;

			@include respond-to(phone) {
				width: 100%;
			}
		}
	}

    figure {
    	width: 100%;
    	text-align: center;
    	margin-bottom: 1em;

    	img {
    		width: 75%;

    		@include respond-to(phone) {
    			width: 100%;
    		}
    	}
    }
    figure.left {
    	width: 33%;
    	float: left;

    	img {
    		width: 100%;
    	}

    	@include respond-to(phone) {
    		width: 100%;
    	}
    }
    figure.right {
    	width: 33%;
    	float: right;

		img {
    		width: 100%;
    	}

    	@include respond-to(phone) {
    		width: 100%;
    	}
    }

}

.catblurb.longform {

	-moz-column-count: 2;
	column-count: 2;
	column-gap: 1.5em;

	@include respond-to(print) {
		-moz-column-count: 2;
		column-count: 2;
	}

	@include respond-to(phone) {
		-moz-column-count: 1;
		column-count: 1;
	}	

	.blurb {
		width: 100%;

		p {
			// display: inline-block;  // problematic if flowing around text
			margin-bottom: 0.5em;
		}
	}

	.box {
		clear: both;
		background-color: $off-grey;
		padding: 0.5em 0.75em;
	}
}

// home page stuff

.features {

	figure {
		position: relative;
		width: 100%;
		border: 4px solid white;
	}
	figure img {
		width: 100%;
		height: auto;
	}
	.secondfeatures figure {
		width: 50%;
		float: left;

		@include respond-to(phone) {
			float: none;
			width: 100%;
		}
	}
	figure div.caption {
		position: absolute;
		left: 0;
		bottom: 0;
		background: rgba(0,0,0,.5);
		width: 100%;
		height: 20%;
		color: white;
		font-size: 240%;
		line-height: 1.0;
		padding: 0.5em;
		baseline:bottom;
		font-weight: bold;

		@include respond-to(phone) {
			font-size: 80%;
		}
	}
	.secondfeatures figure .caption {
		font-size: 125%;
		width: 100%;
		@include respond-to(phone) {
			font-size: 80%;
		}
	}
}


.folded {
	display: none;
}

// expandable blurbs (deprecated---can probably be removed)

.expandable {
	overflow: hidden;
	max-height: 7.25em;
	border-bottom: 2px solid black;
	position: relative;
    transition: max-height 1s;
}

.morebutton {
	font-family: myriad-pro-condensed, Georgia, Times, serif;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	font-size: 80%;
	border: 2px solid black;
	background-color: white;
	text-align: center;
	position: relative;
	top: -2px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	padding: 0.25em 1em;

	@include respond-to(phone) {
		font-size: 12px;
	}
}


// setup page

.fullsetuptable {
	td {
		white-space: nowrap;
		padding-right: 0.5em;
		padding-top: 2px;
		padding-bottom: 2px;
	}
	th {
		font-weight: bold;
		padding-right: 0.5em;
		background-color: $off-grey;
	}
}

// the following setup stuff may be obsolete
.producerSetup {

	h2 {
		margin-top: 0.5em;
		margin-bottom: 0.25em;
		font-weight: bold;
		a {
			color: black;
		}
		a:hover {
			color: $link_hover;
		}

	}

	h3 {
		margin-top: 1em;
		margin-bottom: 0;
		padding: 0.5em;
		background-color: $off-grey;

		a {
			color: black;
		}
		a:hover {
			color: $link_hover;
		}

	}
	p {
		margin-bottom: 0.5em;
	}



	.setup {
		margin-top: 0;
		margin-bottom: 0.5em;
	}

	.setup2 {
		margin-top: 0;
		margin-bottom: 0;
		font-family: $subheading-font;

		div {
			display: inline-block;
			margin: 1px;
			background: $off-grey;
			padding: 1px 0.5em;
			font-weight: bold;

			.fieldname {
				text-transform: uppercase;
				display:block;
				color: $black;
				font-weight: normal;
			}
		}

		div.sku {
			background-color: $off-grey-dark;
		}

	}


}

// faux button
.setupDownload {
	display: inline-block;
	background: $light_grey;
	padding: 4px 9px;
	margin: 0;
	border: 0px;
	font-size: 14px;
	line-height: 1em;
	font-family: $subheading-font;
	text-transform: uppercase;
	color: $dark_grey;
	@include box-sizing(border-box);
	-webkit-appearance: none;
	@include border-radius(0px);
	text-decoration: none !important;

	&:hover {
		cursor: pointer;
		color: #fff;
		background: lighten($red, 10%);
	}
	
	&.fullprofile {
		margin: 20px 0 0 0;
		
		@include respond-to(print) {
			display: none;
		}
	}
}


// imagery.html

#imageryReport .thumbnail {
}
#imageryReport .thumbnail img {
	height: 250px;
	float: right;
}
#imageryReport h2 {
	margin-top: 1em;

}
#imageryReport .thumbnail {
	margin-bottom: 1em;
	max-width: 800px;
}
#imageryReport .thumbnail img.wide {
	height: auto;
	width: 250px
}


// recipe summary page

#tabularnav a {
	margin-right: 0.75em;

	@include respond-to(phone) {
		margin-right: 0.25em;
	}
}

#tabularnav a:hover {
	color: red;
}

#recipefilters {
	background-color: $off-grey;
	padding: 0.5em;
	width: 270px;
	float: left;

	@include respond-to(phone) {
		width: 100%;

		// overflow-x: hidden;
		// overflow-y: scroll;
		// // max-height: 4.25em;
		// max-height: 21em;
		// border-bottom: 2px solid black;
		// position: relative;
	 //    transition: max-height 1s;

	 	display: none;
		padding: 1em;
		width: 100%;
		max-width: 640px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		height: auto;

		padding-left: 0.5em;
		padding-right: 0.5em;

	}

	h3 {
		margin-bottom: 0.2em;
	}

	fieldset {
		margin-bottom: 0.5em;
	}
}

#recipeFiltersMoreButton {
	display: none;

	@include respond-to(phone) {
		display: inline-block;
		cursor: pointer;
	}
}


#recipeResultsBlock {
	margin-left: 290px;

	@include respond-to(phone) {
		margin-left: 0;
	}

}

#matchesAnnotation {
	font-weight: bold;
	margin-top: 1em;
}

.recipeSummaries {
	max-width: 600px;
}

.recipeSummaries td {
	vertical-align: bottom;
	border-bottom: 1em solid white;
}

td.combo, td.protocol, td.vessel {
	text-align: center;
	min-width: 54px;
}

td.combo {
	min-width: 108px;
}

.mainalt {
	width: 100%;
	// padding-left: 0.5em;
	// padding-right: 0.5em;
}

.inlineButton {
	display:inline-block;
}

.inlineButton, #recipeFiltersMoreButton {
	
	// font-size:100%;
	text-transform: uppercase;
	
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	letter-spacing: 0;

	font-weight: 700;
	color:$red;

	padding-top: 1px;  // fine-tuning
	padding-left: 6px;
	padding-right: 6px;
	border: 1px solid $red;
	font-size: 11px;
	line-height: 15px; // this may have to change if body paragraph line height changes

	// this is to actually move the element up to the baseline
	position: relative;
	bottom: 2px; 

	@include respond-to(print) {
		display: none;
	}

}

a.inlineButton:hover, #recipeFiltersMoreButton:hover {
	color: white;
	background-color: $red;
	text-decoration: none;
}


.revealfold {
	text-transform: uppercase;
	color:$red;
}

.socialIcons a {
	margin-right: 1em;
}

.socialIcons a:last-child {
	margin-right: 0;
}

.socialIcons span {
	display: inline-block;
	background-color: $red;
	color: white;
	font-family: $subheading-font;
	height: 34px;
	line-height: 34px;
	border-radius: 17px;
	padding: 0 9px;
}

img.socialButton {
	vertical-align:bottom;
	height: 37px;

}

.generalTable {
	th {
		font-weight: bold;
	}
	th, td {
		vertical-align: top;
		padding: 0.5em 1em;
	}

	tr.section td {
		border-top: 1px solid $light_grey;
	}
}

.generalForm {

	display: block;
	background-color: $off-grey;
	padding: 1em;

	@include respond-to(phone) {
		padding: 0.5em 0.5em;
		// background: none;
	}

	p {
		margin-bottom: 0.5em;
	}

	label {
		font-size: 11px;
		display: block;
	}

	input[type=text] {
		width: 30em;
		font-size: 14px;

		@include respond-to(phone) {
			font-size: 12px;
			width: 100%;
		}
	}

}

.info {

	.infoicon {
		display: inline-block;
		width: 36px;
		height: 36px;
		vertical-align: top;

		@include respond-to(phone) {
			display: block;
			float: left;
		}

		.icon {
			margin: 0;
			height: 36px;
		}

	}


	.infotext {
		margin-left: 0.5em;
		height: 36px;
		display: inline-block;
		line-height: 36px;
		vertical-align: top;

		@include respond-to(phone) {
			display: block;
			line-height: inherit;
			height: auto;	
			margin-left: 45px;		
		}


	}

	margin: 0.5em 0;
}


// stuff for the experimental simplified origin index
// may be generalized later; separable

ul.originTiles {
	list-style-type: none;
	margin:0;
	padding:0;
	margin-bottom: 1em;
	li {
		vertical-align: top;
		margin: 0;
		// width: 180px;
		width: 150px;
		display: inline-block;
		// height: 250px;
		height: 189px;
		margin-right: 6px;

		@include respond-to(phone) {
			font-size: 80%;
			width: 120px;
			height: 160px;
		}

		font-family: $subheading-font;

		.maplet {
			position: relative;
			// width: 180px;
			// height: 180px;
			width: 150px;
			height: 150px;
			padding: 0.5em;
			border: 2px solid #ddd;
			margin-bottom: 0;

			vertical-align: middle;

			img {
				width: 100%;
				height: auto;

				// trying this method
				position: relative;
				top: 50%;
                transform: translateY(-50%);
			}

			@include respond-to(phone) {
				width: 120px;
				height: 120px;			
			}

		}
		a:hover .maplet {
			border-color: $link_hover;
		}
		a:hover {
			text-decoration: none;
		}
	}
}

ul.producerTiles, ul.producerTilesLarge {
	list-style-type: none;
	margin:0;
	padding:0;
	margin-bottom: 1em;
	li {
		vertical-align: top;
		margin: 0;
		width: 110px;
		height: 146px;
		display: inline-block;
		margin-right: 6px;

		@include respond-to(phone) {
			font-size: 80%;
			width: 89px;
			height: 119px;
		}

		font-family: $subheading-font;

		.logo {
			position: relative;
			width: 110px;
			height: 110px;
			padding: 0.5em;
			border: 2px solid #ddd;
			margin-bottom: 0;

			vertical-align: middle;

			img {
				width: 100%;
				height: auto;

				// trying this method
				position: relative;
				top: 50%;
                transform: translateY(-50%);
			}

			@include respond-to(phone) {
				width: 89px;
				height: 89px;			
			}

		}

		a:hover .logo {
			border-color: $link_hover;
		}
		a:hover {
			text-decoration: none;
		}
	}
}

ul.producerTilesLarge {
	li {
		width: 150px;
		height: 189px;

		@include respond-to(phone) {
			font-size: 80%;
			width: 89px;
			height: 119px;
		}

		.logo {
			width: 150px;
			height: 150px;

			@include respond-to(phone) {
				width: 89px;
				height: 89px;			
			}

		}

	}


}

// stuff for the origin index

.country {
	clear: both;
	margin-bottom: 1em;
	min-height: 288px;

	h2 {
		margin-bottom: 0.5em;
	}

	.logoCorral {
		// margin-left: 500px;

		@include respond-to(phone) {
			margin-left: 0;
		}
	}
}

// container for the map and anything else that goes with the map
.mapPresentation, .producerDetailMap, .productDetailMasterMap {
	position: relative;
	float: right;
	margin-left: 1em;
	margin-right: 0;

	@include respond-to(phone) {
		float: none;
		margin: 0 0 0.5em 0;
	}

	.mapAttribution {
		display: block;
		position: relative;
		font-size: 70%;
		color: $grey;
		text-align: right;
		top: -3px;
	}

	.customMap {
		width: 455px; // ideally, this is 460px, but we’re cheating a little to
					  // accomodate producer logo tiles
		height: auto;
					  
		@include respond-to(phone) {
			width: 100%;
			height: auto;
		}
	}

	.customMapSVG {
		width: 455px; // ideally, this is 460px, but we’re cheating a little to
					  // accomodate producer logo tiles
		height: auto;

		@include respond-to(phone) {
			width: 100%;
			height: auto;
		}

	}

}


// experiment: making map smaller on product detail and adding it to the shadowbox
figure.productDetailMasterMap {

	width: 50%;

	@include respond-to(phone) {
		float: right;
	}

	.customMap {
		width: 100%;
		// width: 50%; // ideally, this is 460px, but we’re cheating a little to
					  // accomodate producer logo tiles
		height: auto;
					  

	}


	@include respond-to(print) {
		width: 50%;
	}


}

.originGmap, .countryDetailGmap {
			width: 360px;
			float: right;
			position:relative;

			@include respond-to(phone) {
				width: 100%;
				float: none;
			}

			height: 288px;
			overflow: hidden;

			margin-right: 1em;
}
.originGmap_canvas, .countryDetailGmap_canvas {
			height: 288px;
			margin: 0;
			box-shadow: none;
			border-bottom: 2px solid $dark_grey;
			@include respond-to(phone) {
				width: 100%;
			}

}

.countryDetailGmap {
	float: none;
	margin: 0 0 1em 0;
	// float: right;
	// margin-left: 1em;
	// margin-right: 0;
}

.originOutline {
	ul {
		margin-bottom: 0 !important;
	}
}


.miniLogoTile {
	position: relative;
	width: 108px;
	height: 108px;
	display: inline-block;
	// background-color: yellow;
	margin: 0 0.5em 0.5em 0;
	vertical-align: top;
	img {
		width: 100%;
		height: auto;
		// trying this method
		position: relative;
		top: 50%;
        transform: translateY(-50%);
	}
	border: 2px solid #ddd;
	padding: 3px;
}

// SVG maps

svg {
	.hot {
		cursor:pointer;
		.textoutlines{fill:#FFFFFF;}
		.redhot {
			fill:#A2120F;
		}
	}
	.hot:hover {
		.redhot {fill:#eb2f2c;stroke:#eb2f2c;}
	}


}


// definition lists (e.g., glossary)

dt {
	margin-bottom: 0.5em;
	font-weight: bold;
}

dd {
	padding-left: 2em;
	margin-bottom: 0.5em;
}


// Contentful

.contentful {

	img {
		// the following is problematic
		// width: 100%;  
	}

	font-family: Georgia, serif;
	font-size: 18px;
	line-height: 1.4;

	@include respond-to(phone) {
		width: 100%;
		font-size: 16px;
	}

	h1 {
		text-align: center;
		margin-bottom: 1em;
		margin-top: 1em;
	}

	.resourceCategory {
		margin-top: 1em;
		text-align: center;

		span {
			background-color: $dark_grey;
			color: white;
			font-family: $subheading-font;
			font-size: 15px;
			text-transform: uppercase;
			padding: 3px 9px;
			font-weight: bold;
			letter-spacing: 1px;		


			@include respond-to(phone) {
				font-size: 12px;
			}

		}
	}

	.byline {
		text-align: center;
		padding-bottom: 1em;
		border-bottom: 1px solid $light_grey;
		margin-bottom: 1em;
		font-family: $body-font;
		font-size: 15px;

		@include respond-to(phone) {
			font-size: 12px;
		}

	}

	.dingbat {
		text-align: center;
		color: $light_grey;
		padding-bottom: 1em;
		margin-bottom: 1em;
		font-family: $body-font;
		clear: both;
	}

	h2, h3 {
		font-family: Georgia, serif;
		text-transform: none;
		letter-spacing: 1px;
		font-weight: normal;
		line-height: 1.4;
	}

	h2 {
		font-size: 27px;
		font-weight: bold;
		color: $yellow;
		margin-top: 1em;
		margin-bottom: 0.25em;

		margin-left: 170px;
		max-width: 620px;

		text-align: center;

		@include respond-to(phone) {
			margin-left: inherit;
			font-size: 24px;
		}
	}

	h3 {
		font-size: 22px;
		color: $dark_grey;
		margin-top: 1em;
		margin-bottom: 0.25em;

		margin-left: 170px;
		max-width: 620px;

		@include respond-to(phone) {
			margin-left: inherit;
			font-size: 18px;
		}
	}

	p {
		margin-left: 170px;
		max-width: 620px;

		@include respond-to(phone) {
			margin-left: inherit;
		}
	}

	// this is complete horseshit---must think through
	figure {
		text-align: center;
		margin: 1em 0;
		clear:both;

		img { 
			display: inline-block; 
			width: 620px; 
			margin: 0;

			@include respond-to(phone) {
				width: 100%;
			}

		}
		
		figcaption { 
			display: block; 
			clear: both; 
			text-align: center;
			color: $grey;
			font-size: 90%;
		}

	}

	figure.aside {
		width: 33%;
		margin: 0 0 0 1em;
		float: right;

		img {
			width: 100%;
			margin: 0;
		}

		@include respond-to(phone) {
			width: 40%;
		}

	}

	figure.max {
		width: 100%;
		margin: 0;

		img {
			width: 100%;
			margin: 0;
		}
	}

	div.recipeFull {
		margin-left: 170px;
		// max-width: 480px;
		display: block;

		h1 {
			margin-top: 0;
			text-align: left;
		}
		p {
			margin-left: 0;
		}

		@include respond-to(phone) {
			margin-left: inherit;
		}
	}

}

// special accommodation for Sotolon Selections icon
.specialIcon {
	h1,h3 {
		margin-right: 235px;

		@include respond-to(phone) {
			margin-right: 0;
		}	
	}
}
.specialIconProductDetail,.specialIconCategoryIndex {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 99;
	width: 235px;
	margin-left: 0.5em;
	height: auto;

	@include respond-to(phone) {
		position: relative;
		display: block;
		margin: 0 0 3px 0;
	}	
}

a.tokenlink {
	// display: inline-block;
	// background: $off-grey;
	// padding: 2px 4px;
	// margin: 0 0.5em 0 0;
	// border: 0px;
	// font-size: 12px;
	// line-height: 1em;
	// font-family: $subheading-font;
	// text-transform: uppercase;
	// font-weight: normal !important;
	// color: #fff !important;
	// @include box-sizing(border-box);
	// -webkit-appearance: none;
	// @include border-radius(0px);
	// text-decoration: none !important;

	// &:hover {
	// 	cursor: pointer;
	// 	color: #fff;
	// 	background: lighten($red, 10%);
	// }
	
	&.fullprofile {
		margin: 20px 0 0 0;
		
		@include respond-to(print) {
			display: none;
		}
	}
}

ul.articleCategories {
	margin: 0 0 1rem 0;

	display: grid;
	grid-template-columns: 1fr 1fr;

}

.xrefTiles {
	clear: both;
	display: grid;
	grid-template-columns: 1fr 1fr;	
}

.articlebox {

	display: flex;
	align-items: flex-start;
	margin-right: 1rem;
	margin-bottom: 1rem;

	background-color: $off-grey;
	padding: 0.5rem;

	h2 {
		margin-bottom: 0;
	}

	h2 {
		a {	color: $dark_grey; }
		a:hover { color: $link_hover; }
	}

	.articlephoto {
		margin-right: 0.5rem;
		width: 110px;
		height: 110px;
		overflow: hidden;

		// border: 2px solid $light_grey;

		img {
			width: 100%;
			height: auto;
		}

	}
}